{% block step_header %}
    {% if page != 1 %}<a href="{{ url('insertions_createSteps', { type : type.id, page: page - 1}) }}"
               class="button button--primary">
            {{ i18n('back') }}
        </a>
    {% endif %}

    <ul class="steps">
        {% for i in range(1, pagecount) %}
            <li class="step {% if i < page %}step--done{% endif %} {% if i == page %}step--current{% endif %}">
                <a href="{{ url('insertions_createSteps', { type : type.id, page: i}) }}"
                   class="step__link">
                    {% set numeral = numberToRomanNumeral(i) %}
                    {{ numeral }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock step_header %}
