{% block step_header %}
    <ul>
        {% for i in range(1, pagecount) %}
            <li>
                <a href="{{ url('insertions_createSteps', { type : type.id, page: i}) }}"
                   class="{% if i < page %}below{% endif %}{% if i == page %}current{% endif %}">
                    {{ i }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock step_header %}
