{% block page_container %}
    {% include "Plugins/Insertion/Frontend/FrontendInsertion/Pages/Header.twig" %}

    <form class="form form--insertion"
          action="{{ url('insertions_createSteps', { type : type.id, page: page + 1}) }}"
          method="post"
          enctype="multipart/form-data"
    >

        {% block page_content %}


        {% endblock page_content %}

            <div class="form__control">
                <input type="hidden" name="token" value="{{ token() }}">
                <input type="hidden" name="current_page" value="{{ page }}">
                <input type="submit"
                       value="{{ i18n('save_and_next_step') }}"
                       class="form__input form__input--submit button">
            </div>
        </div>
    </form>


{% endblock page_container %}
