{% block blog_category_header %}
    <div class="blog-header">
        {% include 'Plugins/Blog/Frontend/Category/Header/Image.twig' %}

        <div class="blog-categories-list">
            {% include 'Plugins/Blog/Frontend/Components/BlockCategoryList.twig' %}
        </div>
    </div>

{% endblock blog_category_header %}
