{% block imagetilelarge %}
    <div class="{{ data.css }} image-tile--large">
        {% include('ContentTypes/Components/ImageTileContent.twig') with {'richtext': 'true'} %}
    </div>
{% endblock imagetilelarge %}