{% block imagetilelarge %}
    <div class="{{ data.css }} image-tile image-tile--large">
        {% include('ContentTypes/Components/ImageTileContent.twig') with {'richtext': 'true', 'imagewidth': 400 } %}
    </div>
{% endblock imagetilelarge %}
