{% extends 'Plugins/Blog/Frontend/Components/Base.twig' %}

{% block blog_content %}
    {% include 'Plugins/Blog/Frontend/Components/Breadcrump.twig' %}
    {% include 'Plugins/Blog/Frontend/Post/Header.twig' %}
    {% include 'Plugins/Blog/Frontend/Post/PostMeta.twig' %}
    {% if user %}
        {% include 'Plugins/Blog/Frontend/Post/RatingForm.twig' with {blogPost:blog.post} %}
    {% else %}
        {% include 'Plugins/Blog/Frontend/Components/RatingView.twig' with {blogPost:blog.post} %}
    {% endif %}

    <div class="blog-post-content">
        {{ blog.post.content|raw }}
    </div>
    {% include 'Plugins/Blog/Frontend/Post/Comments.twig' %}
{% endblock blog_content %}
