<div class="blog-post-comment">
    {#    TODO author name + image #}
    <div>{{ blogPostComment.author.id }}</div>
{#    <div>{{ blogPostComment.title }}</div>#}
    <div>{{ blogPostComment.content }}</div>
</div>
