{% if blog.comments %}
    <div id="blog-post-comments-container">
        {% for blogPostComment in blog.comments %}
            {% include 'Plugins/Blog/Frontend/Post/CommentEntry.twig' %}
        {% endfor %}
    </div>
    {#        {% if blog.comments|length >= blog.commentsPerPage %}#}{#        TODO uncomment later#}
    <div>
        <button class="button button--primary" data-addmore="true" data-container="#blog-post-comments-container"
                data-url="{{ url('frontend_blog_more_comments', {postID:blog.post.id, seoUrlPath:blog.post.seoUrlPath}) }}">
            {{ i18n('plugin_blog_btn_load_more_comments', 'other comments') }}
        </button>
    </div>
    {#        {% endif %}#}{#        TODO uncomment later#}
{% else %}
    {{ i18n('plugin_blog_no_comments_yet', 'No comments yet.') }}
{% endif %}
