{% if blog.comments %}
    <div>
        {% for blogPostComment in blog.comments %}
            {% include blog.template.blockCommentEntry|default('Plugins/Blog/Frontend/Post/CommentEntry.twig') %}
        {% endfor %}
    </div>
    {#        {% if blog.comments|length >= blog.commentsPerPage %}#}{#        TODO uncomment later#}
    <div>
        <button id="blog-load-more" data-type="comments" data-container="blog-comments" class="button button--primary">
            {{ i18n('plugin_blog_btn_load_more_comments', 'other comments') }}
        </button>
    </div>
    {#        {% endif %}#}{#        TODO uncomment later#}
{% else %}
    {{ i18n('plugin_blog_no_comments_yet', 'No comments yet.') }}
{% endif %}
