<div class="blog-content">
    {% include 'Plugins/Blog/Frontend/Post/PostMeta.twig' %}
    {% block content__rating %}
    {% endblock content__rating %}
    {% include 'Plugins/Blog/Frontend/Post/ContentContent.twig' %}
    {% include 'Plugins/Blog/Frontend/Post/CommentList.twig' %}
    {% include 'Plugins/Blog/Frontend/Post/LeaveComment.twig' %}
</div>
