<div class="blog-header-image">
    {#TODO ALEX blog post header image#}
    {% if blog.post is defined and blog.post.headerImageLarge %}
        <img src="{{ media(blog.post.headerImageLarge) }}" />
    {% else %}
        DEFAULT_IMAGE
    {% endif %}
</div>
