<div class="blog-header-image">
    HEADER_IMAGE{#TODO blog post header image#}
    {#    {% if blog.post is defined and blog.post.headerImage %}#}
    {#        {{ blog.category.headerImage }}#}
    {#    {% else %}#}
    {#        BACKGROUND#}
    {#    {% endif %}#}
</div>
