<div class="blog-header blog-header-post">
    <h1>{{ blog.post.headerTitle }}</h1>
    {% include 'Plugins/Blog/Frontend/Post/HeaderImage.twig' %}
    <p>{{ blog.post.headerSubtext|raw }}</p>
</div>
