<div class="blog-post-meta">
    <div class="blog-post-created">{{ blog.post.created }}</div>
    {% if blog.post.author.name %}
        <div class="blog-post-author">{{ blog.post.author.name }}</div>
    {% endif %}
</div>
