<div>
    <a href="{{ url('frontend_blog_leave_rating', {postID: blogPost.id, seoUrlPath:blogPost.seoUrlPath, rating:'up'}) }}">
        <span>
            {{ blogPost.ratings.up }}
            {% include 'Plugins/Blog/Frontend/Components/RatingUpIcon.twig' %}
        </span>
    </a>
    <a href="{{ url('frontend_blog_leave_rating', {postID: blogPost.id, seoUrlPath:blogPost.seoUrlPath, rating:'down'}) }}">
        <span>
            {% include 'Plugins/Blog/Frontend/Components/RatingDownIcon.twig' %}
            {{ blogPost.ratings.down }}
        </span>
    </a>
</div>
