{% block cms_content_type_list %}
	<div id="cms_content_types" class="col-xs-3">
		<div class="box box-solid box-default">
			<div class="box-header">
				<h4 class="box-title">{{ i18n('cms_page_builder_content_types_title') }}</h4>
			</div>
	    	<div class="box-body" id="cms_page_controller_types">
                <div class="container-fluid">
                {% for contentTypeGroup in contentTypeGroups %}
                	<div class="row" style="margin:0px;">
                	<div class="col-xs-12" style="border-style:solid;border-size:1px;border-color:#090;">{{ contentTypeGroup.description }}</div>
                	</div>
                	{% if loop.index0 % 2 == 0 %}
                	<div class="row" style="margin:0px;text-align:center;">
                	{% endif %}
                        {% for type in contentTypeGroup.types %}
                        	<div class="col-xs-5" style="border-style:solid;border-size:1px;border-color:#000;text-align:center;margin:5px;">
                            	<div><img src="{{ type.icon }}" style="width:70%;"></div>
                            	<div>{{ type.description }}</div>
                        	</div>
                        {% endfor %}	    	
                	{% if loop.index0 % 2 == 0 %}
                	</div>
                	{% endif %}
                {% endfor %}    	
                </div>
	    	</div>
		</div>
	</div>
{% endblock cms_content_type_list %}
