{% extends 'Backend/Master/Index.twig' %}

{% block pagecontent %}

    {{ o_dump() }}

    {% block cms_page_builder %}
        {% include 'Backend/Pages/PageJsTreeForm.twig' %}

        <div class="container-fluid page-builder-container-wrapper" id="page_builder_container_wrapper">
            <div class="row">
                {% include 'Backend/Pages/PageJsTree.twig' %}
                {% include 'Backend/Pages/PageContent.twig' %}
                {% include 'Backend/Pages/ContentTypeList.twig' %}
            </div>
        </div>
    {% endblock cms_page_builder %}

{% endblock pagecontent %}