{% extends "Backend/Master/Index.twig" %}

{% block pagecontent %}
 
    {% include 'Backend/Pages/PageJsTreeForm.twig' %}
 
 	<div class="cms-container-pages row">
 		{% include 'Backend/Pages/PageJsTree.twig' %}
		<div id="cms_content" class="col-xs-8 layout-boxed">
			Content
		</div>
		<div id="cms_content_types" class="col--xs-2 layout-boxed">
			Types
		</div>
	</div>

{% endblock %}