{% block cms_page_builder %}
	{% if post["cms_page_jstree_selected_page"] %}
	<div id="cms_content" class="col-xs-6">
		<div class="box box-solid box-default">
			<div class="box-header">
				<h4 class="box-title">Content</h4>
			</div>
	    	<div class="box-body" id="cms_page_controller_content">
    			<div>
    				<p>Url: <input type="text" value="{{ pages[post["cms_page_jstree_selected_page"]-1].paths.0 }}"></p>
    			</div>
    			<div>
    				<p><input type="checkbox" id="cms_page_active" name="cms_page_active">&nbsp;Aktiv</p>
    			</div>
    			<div>
    				<p><a href="">Globals</a></p>
    			</div>
	    	</div>
		</div>
	</div>
	{% else %}
	<div id="cms_content" class="col-xs-6">
		<div class="box box-solid box-default">
			<div class="box-header">
				<h4 class="box-title">Content</h4>
			</div>
	    	<div class="box-body" id="cms_page_controller_content">Select a page for editing!</div>
		</div>
	</div>
	{% endif %}
{% endblock cms_page_builder %}