{% block cms_page_builder_content %}
    {% if post["cms_page_jstree_selected_page"] %}
        <div class="nav-tabs-custom {% if contents.isContainer or not contents.type %}col-xs-9{% else %}col-xs-12{% endif %} cms-page-builder-container" id="cms_page_builder_container">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">{{ i18n('page_content', 'Content') }}</a></li>
                <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">{{ i18n('page_meta', 'Meta') }}</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    {% include 'Backend/Pages/PageBuilderContent.twig' %}
                </div>
                <div class="tab-pane" id="tab_2">
                    {% include 'Backend/Pages/PageBuilderMeta.twig' %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-xs-12">
                <div class="cms-page-builder-content" id="cms_page_builder_content">
                    <div>{{ i18n('cms_page_builder_content_no_page_selected') }}</div>
                </div>
        </div>
        {% include 'Backend/Pages/PageBuilderForm.twig' %}
    {% endif %}

{% endblock cms_page_builder_content %}
