{% extends "Backend/Master/Index.twig" %}

{% block pagecontent %}
 
    {% include 'Backend/Pages/PageJsTreeForm.twig' %}
    
	<div class="cms-container-pages row">
	    {% include 'Backend/Pages/PageJsTree.twig' %}
	    <div class="col-xs-8 layout-boxed" id="cms_content" > 
			<div>
				<p>Url: <input type="text" value="{{ pages[post["cms_page_jstree_selected_page"]-1].path.0 }}"></p>
			</div>
			<div>
				<p><input type="checkbox" id="cms_page_active" name="cms_page_active">&nbsp;Aktiv</p>
			</div>
			<div>
				<p><a href="">Globals</a></p>
			</div>
		</div>
		<div class="col--xs-2 layout-boxed" id="cms_content_types">
			Types
		</div>
	</div>
	
{% endblock %}