{% block cms_page_jstree %}
    {% block cms_page_jstree_form %}
        <form id="cms_page_jstree_form" action={{ url('backend_content_pages') }} method="post">
            <input name="cms_form" type="hidden" value="cms_page_jstree_form">
            <input id="cms_edit_page_id" name="cms_edit_page_id" type="hidden">
            <input id="cms_edit_page_parent_id" name="cms_edit_page_parent_id" type="hidden">
            <input id="cms_edit_page_name" name="cms_edit_page_name" type="hidden">
            <input id="cms_edit_page_action" name="cms_edit_page_action" type="hidden">
        </form>
    {% endblock cms_page_jstree_form %}
    <div class="col-xs-2 cms-page-jstree-container" id="cms_page_jstree_container">
        <a href="#" class="btn btn-primary btn-block" class="cms-page-builder-create-new-root-page"
           id="cms-page-builder-create-new-root-page">{{ i18n('cms_page_builder_create_new_root_page') }}</a>

        <div class="cms-page-jstree-wrapper">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ i18n('cms_pages') }}</h3>
                </div>

                <div class="box-body cms-pages-controller-jstree" id="cms_pages_controller_jstree"></div>
            </div>
        </div>
    </div>
{% endblock cms_page_jstree %}
