		<div id="cms_content_types" class="col-xs-3">
			<div class="box box-solid box-default">
    			<div class="box-header">
    				<h4 class="box-title">Pages</h4>
    			</div>
    	    	<div class="box-body" id="cms_page_controller_jstree"></div>
			</div>
		</div>
	    