<div class="user--bookmarks">
    {% for bookmark in bookmarks %}
        {% set insertion = bookmark.insertion %}
        {% include 'Frontend/Components/Insertions/UserBookmarks.twig' with {item : insertion, bookmark : bookmark } %}
    {% endfor %}
</div>
