{% extends "Backend/Master/Index.twig" %}

{% block pagecontent %}

    <div class="image-preview">
        <img src="" style="max-width: 100px;" />
        <input type="text" name="image" />
        <a href="#" data-media-upload="true"  >Open Chooser</a>
    </div>


    <textarea class="form-control oforge-quill-editable"> Test </textarea>

{% endblock %}
