<div class="content-type-edit-form-richtext">
    <div><label>RichText Editor</label></div>
    <textarea  class="editor oforge-quill-editable" id="text" name="text">{{ data.text|default()|raw }}</textarea>
</div>
