{% extends "Backend/Master/Index.twig" %}

{% block pagecontent %}
    TBD

    <br />
    <ul>
        <li>Anzahl aktiver Nutzer (letzte 90 Tage)</li>
        <li>Anzahl aktiver Inserate</li>
        <li>Tägliche Webseiten-Besucher (Analytics)</li>
        <li>Anzahl freizugebender Inserate</li>
        <li> Anzahl offener Support-Anfragen</li>
        <li>Klicks auf Werbebanner</li>
    </ul>

{% endblock %}
