{# block support__content #}
{% block support_content %}
    <div class="support__content flex flex--row flex--wrap">
        {% include 'Plugins/Helpdesk/Frontend/Components/Forms/SupportForm.twig' %}
    </div>

    <div class="support__content flex flex--row flex--wrap">
        {% include 'Plugins/Helpdesk/Frontend/Components/Forms/SupportForm.twig' %}
    </div>


{% endblock support_content %}

