{% set breadcrumbsMapKeys = breadcrumbsmap|keys %}
<li class="header">{{ i18n(item.name) }}</li>

{% for subitem in item.children %}
    {% include 'Backend/Master/Components/Sidebar/Item.twig' with {'item': subitem} %}
{% endfor %}
