{# Left side column. contains the logo and sidebar #}
<aside class="main-sidebar">
    {# sidebar: style can be found in sidebar.less #}
    <section class="sidebar">
        {# Sidebar Menu #}
        <ul class="sidebar-menu" data-widget="tree">
            {% set navigation = backend_sidebar_navigation() %}
            {% for item in navigation %}
                {% include 'Backend/Master/Components/Sidebar/Root.twig' with item %}
            {% endfor %}
        </ul>
        {# .sidebar-menu#}
    </section>
    {# .sidebar#}
</aside>
