{% extends "Backend/Master/Index.twig" %}
{% block pagecontent %}
    {% include 'Plugins/Analytics/Views/Backend/Widgets/Analytics.twig' %}
    {% for datapoint in analyticsData %}
        <p>{{ datapoint }}</p>
    {% endfor %}
{% endblock pagecontent %}