<span class="hint" style="margin-left: 0;">i
                        <span class="hint--content" style="min-width: 380px; left: 0;">

 <table style="width:100%;">
  <tr style="border: 1px solid grey">
    <th>Kategorie</th>
    <th>Preis von</th>
    <th>Preis bis</th>
  </tr>
  <tr>
    <td>A</td>
    <td>1 €</td>
    <td>2500 €</td>
  </tr>
  <tr>
    <td>B</td>
    <td>2501 €</td>
    <td>5000 €</td>
  </tr>
       <tr>
    <td>C</td>
    <td>5001 €</td>
    <td>10000 €</td>
  </tr>
            <tr>
    <td>D</td>
    <td>10001 €</td>
    <td>15000 €</td>
  </tr>
                 <tr>
    <td>E</td>
    <td>15001 €</td>
    <td>25000 €</td>
  </tr>
                      <tr>
    <td>F</td>
    <td>25001 €</td>
    <td>40000 €</td>
  </tr>
                      <tr>
    <td>G</td>
    <td>40001 €</td>
    <td>100000 €</td>
  </tr>
                      <tr>
    <td>H</td>
    <td>100001 €</td>
    <td>unbegr.</td>
  </tr>
</table>
                        </span>
                    </span> <span>Preiskategorien</span>
