.git
.idea/*
!/.idea/codeStyles/
!/.idea/dictionaries/
!/.idea/fileTemplates/
!/.idea/encodings.xml
!/.idea/externalDependencies.xml
!.phpstorm
/config.php
/config.dev.php
/config.prod.php
/test.config.php
/test.junit.xml
node_modules
var
vendor
