.git
.settings
.vscode
.idea/*
!/.idea/codeStyles/
!/.idea/dictionaries/
!/.idea/fileTemplates/
!/.idea/encodings.xml
!/.idea/externalDependencies.xml
!.phpstorm
/composer.lock
/config.php
/config.dev.php
/config.prod.php
/package-lock.json
/test.config.php
/test.junit.xml
node_modules
var
vendor
Themes/*.lnk
/Themes/AllYourHorses/
