.git
.settings
.vscode
.idea/*
!/.idea/codeStyles/
!/.idea/dictionaries/
!/.idea/fileTemplates/
!/.idea/encodings.xml
!/.idea/externalDependencies.xml
!.phpstorm
/composer.lock
/config.php
/config.dev.php
/config.prod.php
/package-lock.json
/test.config.php
/test.junit.xml
node_modules
var
vendor
/Themes/*
/Themes/*.lnk
!/Themes/Base/
!/Themes/TemplateTest/
/Plugins/*
!/Plugins/Blog/
!/Plugins/CookieConsent/
!/Plugins/Faq/
!/Plugins/FrontendUserManagement/
!/Plugins/GoogleAnalytics/
!/Plugins/Helpdesk/
!/Plugins/Insertion/
!/Plugins/ImageUpload/
!/Plugins/Mailchimp/
!/Plugins/Translation/
!/Plugins/Seo/
!/Plugins/ProductPlacement/
!/Plugins/Messenger/
!/Plugins/TestMail/
!/Plugins/Pedigree/
!/Plugins/VideoUpload/
!/Plugins/PDFGenerator/
!/Plugins/ReportErrorForm/
