<div class="tag" data-key="{{ f }}" data-value="{{ v }}">
    <a href="#"
       onclick="window.location.href = Oforge.removeQueryString('{{ f }}', 'on')"
       class="close"></a>
    <span class="tag__text">{{ i18n(f) }}</span>
</div>