{% extends "@parent/Frontend/Layout.twig" %}

{% block content %}
    <div class="content">
        {% block registration %}
            <div class="registration">
                {% include 'Frontend/Components/Forms/RegistrationForm.twig' %}
            </div>
        {% endblock registration %}
    </div>
{% endblock content %}