{% extends "@parent/Frontend/Layout.twig" %}

{% block content %}
    <div class="content">
        {% block registration %}
            <div class="panel panel--registration flex flex--center flex--justify">
                {% block registration_title %}
                    <h2 class="title">{{ i18n('welcome') }}</h2>
                {% endblock registration_title %}
                {% include 'Frontend/Components/Forms/RegistrationForm.twig' %}
            </div>
        {% endblock registration %}
    </div>
{% endblock content %}