{% block forgot_password_form %}
    <form class="form" action="{{ url('frontend_forgot_password_process') }}" method="post">
        <div class="form-controls">
            <div class="form__control">
                <label for="forgot-password__email"
                       class="form__label">{{ i18n('email') }}</label>
                <input id="forgot-password__email"
                       name="forgot-password__email"
                       type="email"
                       class="form__input form__input"
                       required>
            </div>
            <div class="form__control">
                <input type="hidden" name="token" value="{{ token() }}">
                <input type="submit"
                       value="{{ i18n('reset_password') }}"
                       class="form__input button button--primary">
            </div>
        </div>
    </form>
{% endblock forgot_password_form %}