{% block uppy %}
    {% if uppyUploadURL %}
        <div id="drag-drop-area" data-url="{{ uppyUploadURL }}">
            <input id="imagesBlub" name="imagesBlub" type="hidden" data-img="[]" />
        </div>
    {% else %}
        <p>please provide an url for upload</p>
    {% endif %}
{% endblock uppy %}
