{% block icontile %}
    <div class="{{ data.css }}">
    <h2>{{ data.caption }}</h2>
    <div style="width:100px;height:100px;background-color:{{ data.backgroundcolor }}">
        {{ data.icon }}
    </div>
{% endblock icontile %}