{% extends "@parent/Frontend/Layout.twig" %}
{% block content %}
    {% include 'Plugins/FrontendUserManagement/Frontend/Components/AccountNavBar.twig' with { back_link : true, content_title: i18n('user_details', 'User details')} %}
    <div class="account content">
        {% block account %}
            <div class="panel panel--account flex">
                {% block account__sidebar %}
                    {% include 'Plugins/FrontendUserManagement/Frontend/Components/Sidebar.twig' %}
                {% endblock account__sidebar %}

                {% block account__content %}
                    <div class="account__content">
                        <h1>{{ i18n('frontend_user_bookmarks_headline') }}</h1>
                        <div class="">

                            <div class="">
                                {% if bookmarks|length > 0 %}
                                    <h2>{{ i18n('insertions') }}</h2>
                                {% else %}
                                    <h2>{{ i18n('no_bookmarks_saved') }}</h2>
                                {% endif %}
                            </div>


                            <div id="bookmarks-container" class="">
                                {% include 'Frontend/Components/Insertions/Bookmarks.twig' %}
                            </div>
                        </div>
                    </div>
                {% endblock account__content %}

            </div>
        {% endblock account %}
    </div>
{% endblock content %}
