{% extends "@parent/Frontend/Layout.twig" %}
{% block content %}
    {% include 'Plugins/FrontendUserManagement/Frontend/Components/AccountNavBar.twig' with { back_link : true, content_title: i18n('frontend_account_insertions_profile', 'My Profile')} %}
    <div class="account content content--edit">
        {% block account %}
            <div class="panel panel--account flex">
                {% block account__sidebar %}
                    {% include 'Plugins/FrontendUserManagement/Frontend/Components/Sidebar.twig' %}
                {% endblock account__sidebar %}

                {% block account__content %}
                    {% include 'Plugins/Insertion/Frontend/Components/Content/Profile.twig' %}
                {% endblock account__content %}
            </div>
        {% endblock account %}
    </div>
{% endblock content %}
