{% extends '@parent/Frontend/Layout.twig' %}

{% block content %}
    <div class="content">
        {% include 'Plugins/Mailchimp/Frontend/Components/Forms/NewsletterSubscriptionForm.twig' %}
    </div>
{% endblock content %}