{% block product_filter %}
    {% if search.filter|length > 0 %}
        <div class="panel panel--filter filter filter--product">
            <div class="tags">
                <div class="tag-list">
                    {{ o_dump() }}
                    {% for f, value in search.filter %}

                        {% if f is same as ("price") %}
                            {% include 'Plugins/Insertion/Frontend/Components/Content/Filter/Price.twig' %}
                        {% elseif f is same as ("radius") %}
                            {% include 'Plugins/Insertion/Frontend/Components/Content/Filter/Distance.twig' %}
                        {% else %}
                            {% set attribute = all_attributes[f] %}
                            {% include 'Plugins/Insertion/Frontend/Components/Content/Filter/' ~ attribute.filterType|capitalize ~'.twig' %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <a href="#form-search" class="button button--filter-search">
                <svg class="icon icon--secondary">
                    <use xlink:href="#magnifier"></use>
                </svg>
                <span class="filter-search-text">{{ i18n('edit_search', 'Edit search') }}</span>
            </a>
        </div>
    {% endif %}
{% endblock product_filter %}
