{% block product_filter %}
    <div class="panel panel--filter filter filter--product">
        <div class="tags">
            <div class="tag-list">
                {% for i in range(0, 12) %}
                    <div class="tag">
                        <a href="#" class="close"></a>
                        <span class="tag__text">{{ i }} Lorem</span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="button button--filter-search">
            <i class="icon"></i><span class="filter-search-text">{{ i18n('edit_search', 'Edit search') }}</span>
        </div>
    </div>
{% endblock product_filter %}
