{% block product_list %}
    <div class="insertion__content">
        {% block product_list__filter %}
            {% include 'Plugins/Insertion/Frontend/Components/Content/Filter.twig' %}
        {% endblock product_list__filter %}

        {% block product_list__sort %}
            {% include 'Plugins/Insertion/Frontend/Components/Content/Sort.twig' %}
        {% endblock product_list__sort %}
        {% block product_list_items %}
            <div class="product-list">
                <div class="panel panel--product panel--sort flex flex--row flex--center flex--between">
                    <h3 class="result__text">{{ i18n('insertion_search_results', 'Suchergebnisse') }}</h3>
                </div>
                {% for item in search.query.items %}
                    {% include 'Plugins/Insertion/Frontend/Components/Content/ProductPanel.twig' with {item: item } %}
                {% endfor %}
            </div>
        {% endblock product_list_items %}
        {% block product_pagination %}
            {% include 'Plugins/Insertion/Frontend/Components/Content/ProductPagination.twig' %}
        {% endblock product_pagination %}
    </div>

    {% block seo_content %}

        {% if (seo is defined and seo.content != null and seo.content.contentElements != null) %}
            {% set seoContents = seo.content.contentElements %}
            {% for seoContent in seoContents %}
                {% set cmsContent = cms_content(seoContent) %}
                {% if cmsContent %}
                    <div class="panel panel--seo">
                        {% include 'CMS/ContentTypeRouter.twig' with {cmsContent: cmsContent} %}
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            {% set cmsContent = cms_content('seo_content_type_' ~ type.name ~ '_' ~  meta.language.iso) %}
            {% if cmsContent %}
                <div class="panel panel--seo">
                    {% include 'CMS/ContentTypeRouter.twig' with {cmsContent: cmsContent} %}
                </div>
            {% endif %}
        {% endif %}
    {% endblock seo_content %}

{% endblock product_list %}
