<div class="product__attribute">
    <span class="product__label">{{ i18n(topvalue.name) }}</span>
    <!-- TODO: Fallunterscheidung fehlt -->
    <span class="product__value">{{ search.values[topvalue.value] }}{% if i18nExists('topvalue_suffix_' ~  topvalue.name) %} {{ i18n('topvalue_suffix_' ~  topvalue.name) }}{% endif %}</span>
</div>
