{% block product_list %}
    <div class="insertion__content">
        {% block product_list__filter %}
            {% include 'Plugins/Insertion/Frontend/Components/Content/Filter.twig' %}
        {% endblock product_list__filter %}

        {% block product_list__sort %}
            {% include 'Plugins/Insertion/Frontend/Components/Content/Sort.twig' %}
        {% endblock product_list__sort %}
        <div class="product-list">
            {% for item in search.query.items %}
                {% include 'Plugins/Insertion/Frontend/Components/Content/ProductPanel.twig' with {item: item } %}
            {% endfor %}
        </div>
    </div>

    {% block seo_content %}
        {% set content = content('seo_content_type_' ~ type.name ~ '_' ~  meta.language) %}
        {% if content %}
            <div class="panel panel--seo">
                {% include 'ContentTypes/' ~ content.path ~ '/Index.twig' with {'data': content} %}
            </div>
        {% endif %}
    {% endblock seo_content %}

{% endblock product_list %}
