{% block product_list_sort %}
    <div class="panel panel--sort flex flex--row flex--center flex--between">
        <div class="result">
            <h3 class="result__text">{{ search.query.count }} {{ i18n('insertion_count') }}</h3>
        </div>
        <div class="sort">
            <select onchange="window.location.href = Oforge.updateQueryString('order', this.value)"
                    name="product-list-sort" id="product-list-sort" class="form__input">
                {% set orderItems = ['price_asc', 'price_desc', 'date_asc', 'date_desc'] %}
                {% for orderItem in orderItems %}
                    <option value="{{ orderItem }}"
                            {% if search.order is same as(orderItem) %}selected="selected"{% endif %} >{{ i18n(orderItem) }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endblock product_list_sort %}
