{% extends '@parent/Frontend/Layout.twig' %}
{% block content %}
    <div class="content">
        {% block forgot_password %}
            <div class="panel panel--forgot-password flex flex--center flex--justify">
                <h2 class="title">{{ i18n('welcome') }}</h2>
                <div class="panel__content flex flex--wrap">
                    {% include 'Frontend/Components/Forms/ForgotPasswordForm.twig' %}
                </div>
            </div>
    {% endblock forgot_password %}
    </div>
{% endblock content %}