{% extends '@parent/Frontend/Layout.twig' %}
{% block content %}
    <div class="content">
        {% block forgot_password %}
            <div class="panel panel--forgot-password flex flex--center flex--justify">
                {% block forgot_password_title %}
                    <h2 class="title">{{ i18n('welcome') }}</h2>
                {% endblock forgot_password_title %}

                {% block forgot_password_subtitle %}
                <div class="panel__content">
                    <h3 class="subtitle">
                        {{ i18n('Insert your email address, to reset your password') }}
                    </h3>
                </div>
                {% endblock forgot_password_subtitle %}
                <div class="panel__content flex flex--wrap">
                    {% include 'Frontend/Components/Forms/ForgotPasswordForm.twig' %}
                </div>
            </div>
    {% endblock forgot_password %}
    </div>
{% endblock content %}