{% extends "@parent/Frontend/Layout.twig" %}

{% block content %}
    <div class="content">
        {% block forgot_password_reset %}
            <div class="forgot-password">
                {% import 'Frontend/Components/ForgotPasswordResetForm.twig' %}
            </div>
        {% endblock forgot_password_reset %}
    </div>
{% endblock content %}