{% extends 'Backend/Master/Index.twig' %}

{% block pagecontent %}
    <section class="content">
        {% include 'Backend/CRUD/Components/Form.twig' %}
    </section>
    {{ o_dump() }}
{% endblock %}
