{% extends 'Backend/Master/Index.twig' %}

{% block pagecontent %}
    <section class="content">
        {% if crud.deleted|default(false) %}
            {% include 'Backend/CRUD/Components/Deleted/Content.twig' %}
        {% else %}
            {% include 'Backend/CRUD/Components/Form.twig' with { item: crud.item } %}
        {% endif %}
    </section>
{% endblock %}
