{% extends 'Backend/Master/Index.twig' %}

{% block pagecontent %}
    <section class="content">
        {% include 'Backend/CRUD/Components/Form.twig' with { item: crud.item } %}
    </section>
{% endblock %}
