{% extends 'Backend/Master/Index.twig' %}

{% block pagecontent %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="btn-group" role="group">
                                    {% block crud_actions_group %}
                                        <a href="{{ url(meta.route.name  ~ '_create') }}"
                                           title="{{ i18n('backend_crud_btn_create', 'create') }}"
                                           class="btn btn-primary {% if not crud.actions.create %}disabled{% endif %}">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    {% endblock crud_actions_group %}
                                </p>
                            </div>
                        </div>
                        {% if crud.hasEditors %}
                        <form method="post">
                            {% endif %}
{#                            {% include 'Backend/CRUD/Components/Index/PaginationRow.twig' with {pagination: crud.pagination, route: crud.route} only %}#}
                            <div class="row">
                                <div class="col-xs-12 table-responsive">
                                    {% include 'Backend/CRUD/Components/Index/Table.twig' %}
                                </div>
                            </div>
                            {% include 'Backend/CRUD/Components/Index/PaginationRow.twig' with {pagination: crud.pagination, route: crud.route} only %}
                            {% if crud.hasEditors %}
                            <div class="row">
                                <div class="col-xs-12">
                                    <input type="hidden" name="action" value="update" />
                                    <input type="submit" class="btn btn-primary"
                                           value="{{ i18n('backend_crud_btn_update', 'update') }}">
                                </div>
                            </div>
                        </form>
                        {% endif %}
                    </div>
                    {# /.box-body #}
                </div>
                {# /.box #}
            </div>
        </div>
    </section>
{% endblock %}
