{% extends "Frontend/Layout.twig" %}

{% block content %}
    <div class="content">
        <form >
            <input type="file" onchange="Oforge.uploadVideo(this)" />
            <input type="submit"  />
        </form>
    </div>
{% endblock content %}