{% block video %}
    <div class="cms-video-container {{ data.css }}">
        {% if data.data.path %}
            <video {% if data.data.autoplay %}autoplay{% endif %} {% if data.data.controls %}controls{% endif %}
                {% if data.data.loop %}loop{% endif %} {% if data.data.muted %}muted{% endif %} class="video">
                <source src="{{ data.data.path }}" type="video/mp4">
            </video>
        {% else %}
            {#            TODO Fallback, if no video uploaded? #}
        {% endif %}
    </div>
{% endblock video %}
