<div class="content-type-edit-video-wrapper">
    {% if data.data.path %}
        <video loop="" muted="" autoplay="" class="video">
            <source {{ attr({
                controls: data.data.controls,
                autoplay: data.data.autoplay,
                loop: data.data.loop,
                mute: data.data.mute,
            }) }} src="{{ data.data.path }}" type="video/mp4">
        </video>
    {% else %}
        {{ i18n('cms_contentype_video_no_video_uploaded', {
            en: 'No video uploaded yet',
            de: 'Noch kein Video hochgeladen',
        }) }}
    {% endif %}
</div>
