//All skins in one file
@import "skins/skin-blue";
@import "skins/skin-blue-light";
@import "skins/skin-black";
@import "skins/skin-black-light";
@import "skins/skin-green";
@import "skins/skin-green-light";
@import "skins/skin-red";
@import "skins/skin-red-light";
@import "skins/skin-yellow";
@import "skins/skin-yellow-light";
@import "skins/skin-purple";
@import "skins/skin-purple-light";
