.buttons {
    margin: $size-medium 0;
}

.button {
    display: inline-block;
    padding: $size-medium $size-large;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &.button--flex {
        display: flex;

        .button__text {
            margin-left: $size-large;
        }
    }

    &.button--primary {
        background: $color-primary;
        color: $text-light;
    }

    &.button--secondary {
        background: $color-secondary;
        color: $text-light;
    }
    &.button--shadow {
        box-shadow: 0 $size-small .8rem $color-primary-light;
    }
    &.button--uppercase {
        text-transform: uppercase;
    }

    &.button--header {
        font-size: 1.2rem;
    }

    &.button--flat {
        border-radius: 0;
    }
    &.button--small {
        font-size: $font-size-5;
    }
    &.button--save-result {
        width: 18rem;
        max-width: 18rem;
    }
}
