.collapse--container {
    display: flex;
    flex-direction: column;

    .collapse, .collapse--item {
        padding: $size-large;
        margin-bottom: $size-large;
        border-bottom: 1px solid $color-primary;
    }
    .collapse {
        &.active {
            margin-bottom: 0;
        }
    }
    .collapse--item {
        transition: max-height 0.5s ease-in;
        display: block;
        max-height: 50rem;
        &.collapsed {
            transition: max-height 0.5s ease-in;
            display: none;
            max-height: 0;
        }
    }
}
