.form {
    width: 100%;

    &__title {
        margin-bottom: $size-large;
        font-weight: normal;
        color: $text-dark;
    }
}

.form-controls {
    width: 100%;
}

.form-controls + .form-controls {
    margin-top: $size-large;

    &.form-controls--with-separator {
        margin-top: $size-large;
        padding-top: $size-large;
        border-top: 2px solid $color-secondary;
    }
}

.form__control {
    display: block;
    width: 100%;

    &.flex {
        display: flex;
    }

    &.half {
        margin-top: $size-large;
        width: calc(50% - #{$size-large});
    }

    &.form__input {
        .form__label {
            font-size: $font-size-6;
        }
    }
}

.form__control + .form__control {
    margin-top: $size-large;
}
.flex--row > .form__control + .form__control {
    margin-top: 0;

    &.space-up {
        margin-top: $size-large;
    }
}

.form__label {
    cursor: pointer;
    color: $color-primary;

    &.form__label--checkbox {
        max-width: calc(100% - 4rem);
    }
}

.form__input {
    background: $color-light;
    border: 1px solid $color-primary;
    padding: $size-medium;
    height: 3.6rem;
    font-size: 1.6rem;
    width: 100%;
    cursor: pointer;
    color: $color-primary;
    -webkit-appearance: none;
    -moz-appearance: none;

    &::placeholder {
        color: $color-primary;
    }

    // dirrty hack :/
    &.form__input--checkbox.form__input--checkbox.form__input--checkbox {
        width: 3.6rem;

        &:checked {
            background-color: $color-secondary;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &.form__input--checkbox-small {
        width: 2rem;
        height: 2rem;

        & + label {
            font-size: $font-size-6;
        }
    }

    &.form__input--submit {
        background: $color-primary;
        color: $text-light;
    }

    &.form__input--textarea {
        min-height: 15rem;
    }

    &.form__input--range {
        position: relative;
        height: 0;
        border: 2px solid $color-primary;
        border-radius: 0;

        .range-from {
            position: absolute;
            left: 1rem;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background: $color-light;
            border-radius: 1px solid $color-primary;
        }
    }

    &.form__input--no-input {
        border: none;
        height: 100%;
        text-align: right;
    }

    &.form__input--select {
        position: relative;
        padding: 0;

        &:after {
            content: ' ';
            position: absolute;
            display: block;
            width: 1.2rem;
            height: .8rem;

            border-style: solid;
            border-width: .8rem .6rem 0 .6rem;
            border-color: $color-primary transparent transparent transparent;
            right: $size-small;
            top: 50%;
            transform: translateY(-50%);
            z-index: 0;
        }
        select {
            background: transparent;
            padding: $size-small;
            position: relative;
            text-align: left;
            z-index: 1;
        }
    }

    &.button {
        font-weight: bold;
    }

    &.space {
        margin-top: $size-large;
    }

    &.form__input--half {
        width: calc(50% - #{$size-medium});
    }

    &:not(.form__input--no-input):focus:required:invalid {
        background: $invalid;
        color: $text-light;
    }

    // reason for dirrty hack :/
    &:not(.form__input--checkbox),
    &:not(.form__input--no-input) {
        &:required:valid {
            background: $color-secondary;
            color: $text-light;
        }
    }

    &.invalid {
        background-color: $invalid;
        color: $text-light;
    }
    &.valid {
        background-color: $color-secondary;
        color: $text-light;
    }
}

@supports (--css: variables) {
    .range-slider {
        position: relative;
        display: block;
        width: 100%;
    }

    input[type="range"].multirange {
        padding: 0;
        margin: 0;
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }

    input[type="range"].multirange.original {
        position: absolute;
    }

    input[type="range"].multirange.original::-webkit-slider-thumb {
        position: relative;
        z-index: 2;
    }

    input[type="range"].multirange.original::-moz-range-thumb {
        transform: scale(1); /* FF doesn't apply position it seems */
        z-index: 1;
    }

    input[type="range"].multirange::-moz-range-track {
        border: none;
        background: $color-primary;
        height: .6rem;
        border-top: 2px solid $color-primary;
    }

    input[type="range"].multirange.ghost {
        position: relative;
        background: var(--track-background);
        --track-background: linear-gradient(to right,
                transparent var(--low), var(--range-color) 0,
                var(--range-color) var(--high), transparent 0
        ) no-repeat 0 45% / 100% 40%;
        --range-color: $color-secondary;
    }

    input[type="range"].multirange.ghost::-webkit-slider-runnable-track {
        background: var(--track-background);
    }

    input[type="range"].multirange.ghost::-moz-range-track {
        background: var(--track-background);
        border-top: 0;
    }
}
