.form {
    width: 100%;

    &__title,
    &__sub-title {
        margin-bottom: $size-large;
        font-weight: normal;
        color: $text-dark;
    }

    &__sub-title {
        font-size: $font-size-5;
        font-weight: bold;
    }
}

.form-controls {
    width: 100%;

    &.form-controls--container {
        overflow: hidden;
    }
    &.form-controls--row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        .form__control {
            flex: 0 0 100%;
            max-width: 100%;
            margin-top: $size-large;

            > .form__control {
                min-width: 100%;
            }
        }

        .form__control--is-sub {
            margin-top: 0;
        }
    }
}

.form-controls + .form-controls {
    margin-top: $size-large;

    &.form-controls--with-separator {
        margin-top: $size-large;
        padding-top: $size-large;
        border-top: 2px solid $color-secondary;
    }
}

.form__control {
    display: block;
    width: 100%;
    position: relative;
    min-height: 3.6rem;

    &.form__control--half-medium {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        > * {
            flex: 0 0 49%;
            max-width: 49%;
        }
        .form__input--inside-label + .form__input--inside-label {
            margin-top: 0;
        }
    }

    &.flex {
        display: flex;
    }

    &.half {
        margin-top: $size-large;
        width: calc(50% - #{$size-large});
    }

    &.form__input {
        .form__label {
            font-size: $font-size-6;
        }
    }

    &.form__control--hidden {
        display: none;
    }

    &.form__control--end {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &.form__control--row-end {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .form-controls .form__control {
        margin-top: 0;
    }

    &.form__control--multi:not(.form__control--is-sub),
    &.form__control--new-select:not(.form__control--is-sub) {
        min-height: 7rem;
    }

    &.form__control--checkbox {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
    }
}

.form--search .form__control.form__control--new-select {
    min-height: 3.6rem;
}

.form__control + .form__control {
    margin-top: $size-large;
}

.form__control .form__label {
    font-weight: bold;
    font-size: $font-size-5;
}

.flex--row > .form__control + .form__control {
    margin-top: 0;

    &.space-up {
        margin-top: $size-large;
    }
}

.form__label {
    cursor: pointer;
    color: $color-primary;

    &.form__label--checkbox {
        max-width: calc(100% - 4rem);
        vertical-align: middle;
    }

    &.form__label--title {
        text-align: center;
    }
}

.form__label--checkbox + .form__input {
    margin-left: $size-medium;
}

.form__control--checkbox .form__label--checkbox {
    margin-left: $size-medium;

    + .form__input {
        margin-left: 0;
    }
}

.input__unit {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: $size-medium;
    border-left: 1px solid rgba(60,60,59,1);
    font-size: 1rem;
    min-width: 2rem;
    height: 100%;
}

.form__input {
    background: $color-light;
    border: 1px solid $color-primary;
    padding: $size-medium;
    height: 3.6rem;
    font-size: 1.6rem;
    line-height: 1;
    width: 100%;
    cursor: pointer;
    color: $color-primary;
    -webkit-appearance: none;
    -moz-appearance: none;

    &[type='number'] {
        text-align: right;
        direction: rtl;
    }

    &.form__input--inside-label {
        display: inline-flex;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0 1px;

        .form__input {
            -webkit-appearance: none;
            -moz-appearance: none;
            border: none;
            outline: none;
            padding: .6rem;
            width: 100%;
            min-width: 0;
            height: 3.2rem;
            text-overflow: fade;
        }
    }

    &::placeholder {
        color: $color-primary;
    }

    // dirrty hack :/
    &.form__input--checkbox {
        width: 2.6rem;
        height: 2.6rem;
        vertical-align: middle;

        &:checked {
            background-color: $color-secondary;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &.form__input--checkbox-small {
        width: 2rem;
        height: 2rem;
        vertical-align: middle;

        &:checked {
            background-color: $color-secondary;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: contain;
        }

        & + label {
            font-size: $font-size-6;
        }
    }

    &.form__input--submit {
        background: $color-primary;
        color: $text-light;
    }

    &.form__input--textarea {
        min-height: 15rem;
    }

    &.form__input--range {
        position: relative;
        height: 0;
        border: 2px solid $color-primary;
        border-radius: 0;

        .range-from {
            position: absolute;
            left: 1rem;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background: $color-light;
            border: 1px solid $color-primary;
        }
    }

    &.form__input--no-input {
        border: none;
        height: 100%;
        text-align: right;
    }

    &.form__input--select {
        position: relative;
        padding: 0;

        &:after {
            content: ' ';
            position: absolute;
            display: block;
            width: 1.2rem;
            height: .8rem;

            border-style: solid;
            border-width: .8rem .6rem 0 .6rem;
            border-color: $color-primary transparent transparent transparent;
            right: $size-small;
            top: 50%;
            transform: translateY(-50%);
            z-index: 0;
        }

        &.valid:after, &.invalid:after {
            border-color: $color-light transparent transparent transparent;
        }

        select {
            background: transparent;
            padding: $size-small;
            position: relative;
            text-align: left;
            z-index: 1;
        }
    }

    &.button {
        font-weight: bold;
    }

    &.space {
        margin-top: $size-large;
    }

    &.form__input--half {
        width: calc(50% - #{$size-medium});
    }

    &.invalid {
        background-color: $invalid;
        color: $text-light;

        > select {
            color: $text-light;
        }
    }

    &.valid {
        background-color: $color-secondary;
        color: $text-light;

        > select {
            color: $text-light;
        }
    }
}

.form__input--inside-label + .form__input--inside-label {
    margin-top: $size-large;
}

.form__input--zip + .form__input--distance {
    margin-top: 0;
}

#floating-button {
    position: fixed;
    z-index: 4;
    bottom: $size-large;
    width: calc(100% - 1.2rem);
    opacity: 0;
    transition: all .2s ease-in, width .2s ease-in;

    &.is-visible {
        opacity: 1;
        transition: opacity 100ms ease-in-out;
    }

    &.position-static {
        position: static;
        width: 100%;
        bottom: 0;
        box-shadow: none;
        opacity: 1;
    }
}

@media screen and (min-width: 480px) {
    .form--search {
        .form-controls {
            &.form-controls--row {
                > .form__control {
                    flex: 0 0 calc(50% - .6rem);
                    max-width: calc(50% - .6rem);
                }
            }
        }
    }
}

@media screen and (min-width: $screen-medium) {

    #floating-button {
        width: calc(100% - 2.4rem);
    }

    .form-controls {
        &.form-controls--row {
            .form__control {
                flex: 0 0 calc(50% - .6rem);
                max-width: calc(50% - .6rem);

                &.form__control--floating-button {
                    flex: 0 0 100%;
                    width: 100%;
                }
            }
        }
    }
    .form__control {
        &.form__control--xs {
            width: 50%;
            margin: 0 auto;
        }

        &.form__control--s {
            width: 65%;
            margin: 0 auto;
        }
    }
    .form__input {
        &.form__input--submit {
            width: auto;
            padding-left: $size-large;
            padding-right: $size-large;
        }
    }
    .form__control {
        &.form__control--third-medium {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
    .form__input--inside-label + .form__input--inside-label {
        margin-top: 0;
    }
}


.form-controls.form-controls--row, .attribute-group {
    .form__control.form__control__boolean {
        // margin-top: 0.6rem;
        flex-direction: row-reverse;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .form__input--checkbox {
            width: 2rem;
            height: 2rem;
            margin-left: 0px;
            margin-right: .6rem;
        }

        .form__label--checkbox {
            font-weight: normal;
        }
    }
}

@media screen and (min-width: $screen-large) {
    #floating-button {
        width: 27.6rem;
        opacity: 1;

        &.position-static {
            width: 27.6rem;
        }
    }
}
