.upload {
    &__item {
        &.upload__item--placeholder {
            .upload__image {
                width: 100%;
                height: 140px;
                object-fit: cover;
                background: $color-light;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &__image {
        width: 100%;
        height: 140px;
        object-fit: cover;
    }
}

.upload__image.upload__image--new {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    width: 100%;

    &:before {
        content: ' ';
        position: absolute;
        top: 3rem;
        left: calc(50% - 1px);
        width: 2px;
        height: 4rem;
        background: $color-secondary;
    }

    &:after {
        content: ' ';
        position: absolute;
        top: 5rem;
        left: calc(50% - 2rem);
        width: 4rem;
        height: 2px;
        background: $color-secondary;
    }
}
.form--insertion .form__label.form__label--title.label--upload-image {
    margin-bottom: .6rem;
}
