#scroll_to_top {
    position: fixed;
    bottom: 5rem;
    right: .6rem;
    width: 3rem;
    height: 3rem;
    background-color: $color-secondary;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' fill='%23fff' id='arrow' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.1 14.01a3.1 3.06 0 0 0-2.16 5.26L31.99 50l31.06-30.73a3.1 3.06 0 1 0-4.37-4.33l-26.69 26.4-26.68-26.4a3.1 3.06 0 0 0-2.22-.93z'/%3E%3C/svg%3E%0A");
    border: 2px solid $color-light;
    border-radius: $size-medium;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotate3d(0,0,1,180deg);
    z-index: 999999;
    opacity: 0;
    transition: opacity .2s ease-in;

    &.is--visible {
        opacity: 1;
        cursor: pointer;
    }
}
