
.select {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 3.6rem;
    border: 1px solid $color-primary;
    border-radius: $border-radius;
    background: $color-light;
    cursor: pointer;

    &.select--is-open {
        height: auto;
        position: absolute;
        z-index: 4;

        &.select--is-sub {
            height: auto;
        }

        .select--is-open {
            position: relative;
        }

        > .select__text {
            border-bottom: 1px solid $color-primary;
        }
    }

    &.select--is-sub {
        border-radius: 0;
        border: none;
        height: 2.8rem;
        margin-top: .6rem;

        .select__text {
            border: none;

            &:before {
                border: none;
            }
        }
    }

    &__filter {
        width: calc(100% - 1.2rem);
        border: 1px solid $color-primary;
        margin: $size-medium;
        border-radius: $size-small;
        padding: $size-small;
        font-size: $font-size-5;
    }

    &__text {
        position: relative;
        margin: 0;
        padding: .4rem 2rem .4rem .4rem;
        height: 3.6rem;
        align-items: center;
        border-bottom: 1px solid transparent;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $font-size-5;
        line-height: 24px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 2rem;
            border-left: 1px solid $color-primary;
            height: 100%;
            display: block;
        }

        &::after {
            content: ' ';
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 6px 0 6px;
            border-color: $color-primary transparent transparent transparent;
            right: .4rem;
            top: calc(50% - .4rem);
            z-index: 0;
        }
    }
    &__list {
        height: auto;
        max-height: 400px;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__item {
        position: relative;
        padding: .6rem .2rem .6rem .6rem;
        line-height: 1;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &::before {
            content: ' ';
            display: inline-block;
            width: 1.6rem;
            height: 1.6rem;
            margin-right: .6rem;
            border: 1px solid $color-primary;
            border-radius: $size-small;
        }

        &.select__item--is-hidden {
            display: none;
        }

        &.select__item--is-checked {
            &:after {
                position: absolute;
                left: 1.1rem;
                top: 1.1rem;
                content: ' ';
                display: block;
                width: .6rem;
                height: 1.2rem;
                border: solid $color-primary;
                border-width: 0 .2rem .2rem 0;
                transform: rotate(45deg);
            }

            > .sub-attribute-container {
                display: block;
                width: 100%;
                padding-left: 2rem;
            }
        }
    }
    &__value {
        display: inline-block;
        width: calc(100% - 24px);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 24px;

        strong {
            font-weight: bold;
            color: $color-secondary;
        }
    }
}

.sub-attribute-container {
    display: none;
}
