.text {
    color: $color-primary;
}
.text-primary {
    color: $color-primary;
}
.text-secondary {
    color: $color-secondary;
}
.text-light {
    color: $color-light;
}
.text-info {
    color: $info;
}
.text-warning {
    color: $warning;
}
.text-error {
    color: $error;

    &.text-primary {
        color: $color-primary;
    }
    &.text-secondary {
        color: $color-secondary;
    }
    &.text-light {
        color: $color-light;
    }
    &.text-info {
        color: $info;
    }
    &.text-warning {
        color: $warning;
    }
    &.text-error {
        color: $error;
    }
    &.text-is-hidden {
        display: none;
    }
}
