.upload {
    &__video {
        display: none;
    }
}

.upload--video {
    .upload__list {
        border: none;
        justify-content: center;
    }

    .upload__item {
        &.upload__item--new-button {
            display: block;
        }
    }

    .upload__image.upload__image--new {
        z-index: 1;
        .icon {
            transition: opacity 200ms, transform 200ms ease-in-out;
            position: absolute;
            top: 3rem;
            width: 4rem;
            height: 4rem;

        }

        &:before, &:after {
            transition: opacity 200ms, transform 200ms ease-in-out;
            transform: rotate(-180deg) scale(.5);
            opacity: 0;
        }

        &:hover {
            .icon {
                transition-duration: 300ms;
                transform: rotate(180deg) scale(.5);
                opacity: 0;
            }

            &:before, &:after {
                transition-duration: 300ms;
                transform: rotate(0deg) scale(1);
                opacity: 1;
            }
        }

        &.hidden {
            display: none;
        }
    }

    &.upload--message {
        display: block;
        text-align: center;
        &.hidden {
            display: none;
        }
    }

    #thumbnail-container {
        &.processing {
            &:before {
                content: "";
                width: 100%;
                height: 100%;
                background-size: auto;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url(/var/public/__assets/Frontend/img/loading.svg);
                position: absolute;
                transform: translate3d(0, -2rem, 0);
            }
        }
    }

    .upload__image.default-image {
        background-image: url("../img/placeholder_horse.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $color-primary-lighter;
    }

    .upload__delete {
        &.hidden {
            display: none;
        }
    }

    .progress-container {
        width: 100%;
        padding: $size-large;
        padding-top: 0;
        z-index: 1;

        &.hidden {
            display: none;
        }
    };
    .progress {
        width: 100%;
    }
}
