<div class="content-type-edit-form-image">
    <div><label>Image URL</label>&nbsp;<input type="text" name="url" value="{{ data.url }}"></div>
    <div><label>CSS Class</label>&nbsp;<input type="text" name="css" value="{{ data.css }}"></div>
</div>
