<div class="form content-type-edit-form-image">
    <div class="form-group">
        <label>{{ i18n('type_image', 'Image') }}</label>
        <div>
            {% include 'Backend/Components/Image.twig' with {
                name: 'image',
                data: data.url|default(null)
            } only %}
        </div>
    </div>
</div>
