<div class="inner">
    <h3>{{ data.count|default(0) }}</h3>
    <p>
        {{ i18n('backend_dashboard_widget_plugin_insertion_count', {
            en: 'Number of insertions',
            de: 'Anzahl Inserate'
        }) }}
    </p>
</div>
<div class="icon">
    <i class="ion ion-icecream"></i>
</div>
<a href="{{ url('backend_insertions') }}" class="small-box-footer">
    {{ i18n('more_info') }} <i class="fa fa-arrow-circle-right"></i>
</a>
