<div class="inner">
    <h3>{{ content.count}}</h3>
    <p>{{ i18n('insertions_need_moderation') }}</p>
</div>
<div class="icon">
    <i class="ion ion-stats-bars"></i>
</div>

<a href="{{ url('backend_insertions') }}?moderation=0" class="small-box-footer">{{ i18n('more_info') }} <i class="fa fa-arrow-circle-right"></i></a>