{% block imagetilesmall %}
    <div class="{{ data.css }} image-tile--small">
        {% include('ContentTypes/Components/ImageTileContent.twig') with {'imagewidth': 400 }  %}
    </div>
{% endblock imagetilesmall %}