{% extends "@parent/Frontend/Layout.twig" %}
{% block content %}
    {% include 'Plugins/FrontendUserManagement/Frontend/Components/ProfileNavBar.twig' with { content_title: i18n('overview', 'Overview') } %}

    <div class="profile content">
        {% block profile %}
            <div class="panel panel--profile flex">
                {% block profile__sidebar %}
                    {% include 'Plugins/FrontendUserManagement/Frontend/Components/Sidebar.twig' %}
                {% endblock profile__sidebar %}

                {% block profile__content %}
                    {% include 'Plugins/FrontendUserManagement/Frontend/Components/Content/Dashboard.twig' %}
                {% endblock profile__content %}

            </div>
        {% endblock profile %}
    </div>
{% endblock content %}