<div class="inner">
    <h3>{{ content.count}}</h3>
    <p>{{ i18n('helpdesk_widget_open') }}</p>
</div>
<div class="icon">
    <i class="ion ion-android-warning"></i>
</div>

<a href="{{ url('backend_helpdesk') }}" class="small-box-footer">{{ i18n('more_info') }} <i class="fa fa-arrow-circle-right"></i></a>