{% block user_delete_form %}
    <div class="form form--user-details">

        {% block user_delete_data_separator %}
            <div class="separator"></div>
        {% endblock user_delete_data_separator %}

        <div class="form-controls">

            <h2 class="form__title">{{ i18n('user_account_details_delete_title',{
                    en: 'Delete account',
                    de: 'Account löschen'
                } ) }}</h2>

            <div class="form__control">
                <div>
                    {{ i18n('user_account_details_delete_description',{
                        en: 'user_account_details_delete_description',
                        de: 'user_account_details_delete_description'
                    } ) }}
                </div>
            </div>
        </div>
    </div>
{% endblock user_delete_form %}
