.cms-element-jstree-container {

}

.cms-element-jstree-wrapper {
    height: 90%;
    overflow: auto;
    margin-top: 10px;
}

.cms-element-editor-create-new-root-element {
   cursor: pointer;
   color: #0a0;
}