.cms-element-jstree-container {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #000;
    overflow: scroll;
}

.cms-element-editor-create-new-root-element {
   cursor: pointer;
   color: #0a0;
}