.cms-page-jstree-container {
 	border-right-style: solid;
 	border-right-width: 1px;
 	border-right-color: #000;
}

.cms-page-jstree-wrapper {
	height: 90%;
	overflow: scroll;
}

.cms-page-builder-create-new-root-page {
	cursor: pointer;
	color: #0a0;
}