.cms-page-builder-headline {
	font-size: 24px;
	font-weight: bolder;
	color: #000;
	background-color: #ccc;
	margin: 0px;
	margin-bottom: 15px;
	padding: 0px 15px;
}

.cms-page-builder-selected-element {
	border-style: dashed !important;
	border-width: 2px !important;
	border-color: #a0f !important;
}