.cms-page-jstree-container {
 	border-right-style: solid;
 	border-right-width: 1px;
 	border-right-color: #000;
}

.cms-pages-controller-jstree {
 	overflow: scroll;
}

.cms-page-builder-create-new-root-page {
	cursor: pointer;
	color: #0a0;
}