<th>
    {{ i18n('module_i18n_snippet_name', {en: 'Name', de: 'Name'}) }}
</th>
<th class="text-center">
    <span class="label label-primary">{{ meta.route.query.language1 }}</span>
</th>
<th width="8rem"></th>
<th class="text-center">
    <span class="label label-primary">{{ meta.route.query.language2 }}</span>
</th>
