{% block row %}
    <div class="row">
        {% for row in data %}
            {% include 'ContentTypes/' ~ row.path ~ '/Index.twig' with {'data': row.data} %}
        {% endfor %}
    </div>
{% endblock row %}
