<div class="content-type-edit-form-row">
    <div><label>Content Name</label></div>
    <div><input type="text" name="name" value="{{ data.name }}"></div>
    <div class="spacer">&nbsp;</div>
    <div><label>CSS Class</label></div>
    <div><input type="text" name="css" value="{{ data.css }}"></div>
</div>
