<div class="of-row {{ data.css }}" data-pb-id="{{ data.id }}" data-pb-se="{{ data.se }}">
    {% for child in data.childs %}
		<div>
            {% include child.type with {'data': child} only %}
		</div>
    {% endfor %}
</div>
