<div class="content-type-edit-selector" data-pb-id="{{ data.id }}" data-pb-se="{{ data.se }}">
    <div class="content-type-edit-row-wrapper">
        {% for child in data.childs %}
            {% if data.id == data.se %}
                {% set order = child.order %}
                {% include 'ContentTypes/PageBuilderPlaceholder.twig' %}
            {% endif %}
    		<div>
                {% include child.type with {'data': child} only %}
    		</div>
        {% endfor %}
        {% if data.id == data.se %}
            {% set order = 999999999 %}
            {% include 'ContentTypes/PageBuilderPlaceholder.twig' %}
        {% endif %}
    </div>
</div>
