<div class="row {{ data.css }}" style="display:flex;justify-content:space-between;align-items:center;">
    {% for column in data.columns %}
		<div>
            {% include column.type with {'data': column} only %}
		</div>
    {% endfor %}
</div>
