<div class="of-row {{ data.css }}" data-pb-id="{{ data.id }}">
    {% for column in data.columns %}
		<div>
            {% include column.type with {'data': column} only %}
		</div>
    {% endfor %}
</div>
