{# block sidebar__account_user #}
{% block account_user %}
    <div class="account__user">
        <div class="user__picture"
             style="background-image: url('{% if current_user.detail %}{{ media(current_user.detail.image) }}{% else %}http://placeimg.com/640/640/people{% endif %}');"
        >
        </div>
        <div class="user-info">
            {% if current_user.detail %}
                <h2 class="user-info__name">
                    {{ current_user.detail.nickName }}
                </h2>
            {% endif %}

            <h2 class="user-info__name">
                {{ current_user.detail.name }}</h2>
            <p class="user-info__email">{{ current_user.email }}</p>
        </div>
    </div>
{% endblock account_user %}