<div class="abo--banner">
    <div class="container" style="text-align: center">
        <br/>
        <h2 class="title title--light title--1">Willkommen bei AllYourHorses.de<br/>
            - Deiner neuen Pferdewelt.
        </h2>
        <br/>
        <div class="usp__main" style="display:inline-flex; justify-content: space-between;">
            <div class="usp__main-element flex flex--wrap flex--row">
                <svg class="icon icon--light icon--small" style="align-self: center; margin-right: 1.2rem;">
                    <use xlink:href="#check"></use>
                </svg>Schnell und einfach inserieren</div>
            <div class="usp__main-element flex flex--wrap flex--row">
                <svg class="icon icon--light icon--small" style="align-self: center; margin-right: 1.2rem;">
                    <use xlink:href="#check"></use>
                </svg>Günstiger als der Marktführer</div>
            <div class="usp__main-element flex flex--wrap flex--row">
                <svg class="icon icon--light icon--small" style="align-self: center; margin-right: 1.2rem;">
                    <use xlink:href="#check"></use>
                </svg>Persönlicher Support</div>
        </div>
        <br/><br/>
        <h2 class="title title--primary title--3">
            Wir freuen uns, dass du deinen Account auf All Your Horses fortführen
            möchtest.
            <br/>
            Bitte trage deine Kontaktdaten ein, um gleich loszulegen!
        </h2>
        <br/>
        <a href="#register">
            <button class="button button--light" >Kontaktdaten eintragen</button>
        </a>
        <br/>
        <br/>
    </div>
</div>
