{% block profile_nav_bar %}
    <div class="profile__nav-bar">
        {% if back_link is defined %}
            {% block back_link %}
                <a href="{{ url('frontend_profile') }}" class="back-link">
                    <svg class="icon icon--light icon--turn-left">
                        <use xlink:href="#pfeil"></use>
                    </svg>
                </a>
            {% endblock back_link %}
        {% endif %}
        <h3 class="nav-bar__title">
            {{ i18n('overview', 'Overview') }}
        </h3>
    </div>
{% endblock profile_nav_bar %}