{# block account__sidebar #}
{% block sidebar %}

<div class="account__sidebar">
    <div class="account__user"></div>
    {% if sidebar_navigation is defined %}
        <div class="account__navigation">
            <nav class="account-nav">
                <ul class="account-nav__list">
                    {% for nav_item in sidebar_navigation %}
                        <li class="account-nav__list-item">
                            <a href="{{ url(nav_item.path) }}" class="account-nav__link{% if meta.route.name == nav_item.name %} account-nav__link--active{% endif %} flex flex--row flex--center flex--between">
                                <span class="account-nav__text">
                                    {{ i18n(nav_item.name) }}
                                </span>
                                {% if nav_item.icon %}
                                    <i class="{{ nav_item.icon }}"></i>
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    {% endif %}

</div>
{% endblock sidebar %}
