<div class="inner">
   {# TODO {%  set info = backend_widgets_user_info() %}#}
    <h3>12{{ info.userCount }}</h3>
    <p>{{ i18n('user_registrations') }}</p>
</div>
<div class="icon">
    <i class="ion ion-person-add"></i>
</div>
<a href="{{ url('backend_users') }}" class="small-box-footer">{{ i18n('more_info') }} <i class="fa fa-arrow-circle-right"></i></a>