<div class="inner">
    <h3>{{ content.count}}</h3>
    <p>{{ i18n('user_registrations') }}</p>
</div>
<div class="icon">
    <i class="ion ion-person-add"></i>
</div>

<a href="{{ url('backend_frontend_user_management') }}" class="small-box-footer">{{ i18n('more_info') }} <i class="fa fa-arrow-circle-right"></i></a>