{% extends "@parent/Frontend/Layout.twig" %}

{% block content %}

    <div class="account content">
        {% block account %}
            <div class="panel panel--account flex">
                {% block account__sidebar %}
                    {% include 'Plugins/FrontendUserManagement/Frontend/Components/Sidebar.twig' %}
                {% endblock account__sidebar %}

                {% block account__content %}
                    <div class="account__content flex">
                        <h3 class="account__title">{{ i18n('faqs') }}</h3>
                        <div class="collapse--container">
                            {% for value in faq %}
                                <div class="collapse button button--secondary button--flat flex flex--row"
                                     data-collapse>
                                    <div>{{ value.question }}</div>
                                    <div>
                                        <svg class="icon">
                                            <use xlink:href="#circuit"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="collapse--item collapsed">{{ value.answer }}</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endblock account__content %}
            </div>
        {% endblock account %}
    </div>
{% endblock content %}