<a class="{% if isButton %}btn btn-primary{% endif %}"
   href="{{ url('backend_plugins_activate', {name: item.name|url_encode}) }}"
   title="{{ i18n('crud_plugin_action_activate', 'activate') }}">
    {{ i18n('crud_plugin_action_activate', 'activate') }}
</a>
