<a class="{% if isButton %}btn btn-primary{% endif %}"
   href="{{ url('backend_plugins_deinstall', {name: item.name|url_encode}) }}"
   title="{{ i18n('crud_plugin_action_deinstall', 'deinstall') }}">
    {{ i18n('crud_plugin_action_deinstall', 'deinstall') }}
</a>
