<a href="{{ url('backend_plugins_delete', {name: item.name|url_encode}) }}"
   title="{{ i18n('backend_crud_plugin_action_delete', 'delete') }}">
    {{ i18n('backend_crud_plugin_action_delete', 'delete') }}
</a>
