<a href="{{ url('backend_plugins_reinstall', {name: item.name|url_encode}) }}"
   title="{{ i18n('crud_plugin_action_reinstall', 'reinstall') }}">
    {{ i18n('crud_plugin_action_reinstall', 'reinstall') }}
</a>
