<div class="container-fluid">
    {% include 'Backend/Components/Form/Switch.twig' with {
        id: crudFieldID,
        disabled: true,
        checked: crudItem[crudProperty.name],
    } only %}
</div>
