{% if not property.list %}
    <div class="alert alert-danger" role="alert">
        Missing select list
    </div>
{% elseif not property.list[item[property.name]] %}
    <div>
        <i class="fa fa-exclamation-triangle" title="Value not in select list"></i>
        {{ item[property.name] }}
    </div>
{% else %}
    {% set value = property.list[item[property.name]] %}
    {% if property.isI18nLabel is defined and property.isI18nLabel %}
        {% if value is array %}
            {{ i18n(value.key, value.default) }}
        {% else %}
            {{ i18n(value.key) }}
        {% endif %}
    {% else %}
        {{ value }}
    {% endif %}
{% endif %}
