{% with %}
    {% set itemValues = item[crudProperty.name] %}
    {% if crudProperty.list is not defined %}
        <div class="alert alert-danger" role="alert">
            Missing select list configuration for "{{ crudProperty.name }}"
        </div>
    {% elseif crudProperty.list is empty %}
        {{ crudProperty.multiple ? itemValues|join(', ') : itemValues }}
    {% else %}
        {% set output = [] %}
        {% if not crudProperty.multiple %}
            {% set itemValues = [itemValues] %}
        {% endif %}
        {% for itemValue in itemValues %}
            {% if crudProperty.list|first.options is defined %}
                {% set found = false %}
                {% for group in crudProperty.list %}
                    {% if group.options[itemValue] is defined %}
                        {% set found = true %}
                        {% set output = output|merge([group.options[itemValue]|escape]) %}
                    {% endif %}
                {% endfor %}
                {% if not found %}
                    {% set output = output|merge(['<span><i class="fa fa-exclamation-triangle" title="'
                        ~ i18n('backend_crud_missing_select_value', {en: 'Value not in select list', de: 'Wert nicht in Select-Liste'})
                        ~ '"></i>' ~ itemValue|escape ~ '</span>'
                    ]) %}
                {% endif %}
            {% elseif crudProperty.list[itemValue] is not defined %}
                {% set output = output|merge(['<span><i class="fa fa-exclamation-triangle" title="'
                    ~ i18n('backend_crud_missing_select_value', {en: 'Value not in select list', de: 'Wert nicht in Select-Liste'})
                    ~ '"></i>' ~ itemValue|escape ~ '</span>'
                ]) %}
            {% else %}
                {% set output = output|merge([crudProperty.list[itemValue]|escape]) %}
            {% endif %}
        {% endfor %}
        <div>{{ output|join(', ')|raw }}</div>
    {% endif %}
{% endwith %}
