{% extends 'Backend/Master/Index.twig' %}

{% block pagecontent %}

    {% block cms_element_editor %}
        <div class="container-fluid element-editor-container-wrapper" id="element_editor_container_wrapper">
            <div class="row">
                {% include 'Backend/Elements/ElementJsTree.twig' %}
                {% include 'Backend/Elements/ElementContent.twig' %}
                {% include 'Backend/Elements/ContentTypeList.twig' %}
            </div>
        </div>
    {% endblock cms_element_editor %}

{% endblock pagecontent %}