<!doctype html>
<html lang="en">
<head>
    {% block head %}
        {% include 'Backend/Master/Head/Main.twig' %}
    {% endblock %}
</head>
<body class="hold-transition skin-oforge sidebar-mini">
<div class="wrapper">
    {% block pageheader %}
        {% include 'Backend/Master/PageHeader.twig' %}
    {% endblock %}


    {% block sidebar %}
        {% include 'Backend/Master/Sidebar.twig' %}
    {% endblock %}

    {% block content %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {% set current = backend_breadcrumbs(meta.route.name)|last %}

                    {% if page_header  %}{{ page_header }}{% else %}{{ current.name }}{% endif %}
                    {% if page_header_description  %}<small>{{ page_header_description }}</small>{% endif %}
                </h1>
                {% include 'Backend/Master/BreadCrumbs.twig' %}
            </section>

            <!-- Main content -->
            <section class="content container-fluid">
                {% block pagecontent %}
                <!--------------------------
                  | Your Page Content Here |
                  -------------------------->

                {% endblock %}
            </section>
            <!-- /.content -->
        </div>

    {% endblock %}

    {% block footer %}
        {% include 'Backend/Master/Footer.twig' %}
    {% endblock %}


    {% block sidebarcontrol %}
        {% include 'Backend/Master/SidebarControl.twig' %}
    {% endblock %}
</div>
{% block scripts %}
    {% include 'Backend/Master/Footer/Scripts.twig' %}
{% endblock %}

</body>
</html>
