<!doctype html>
<html lang="en">
<head>
    {% block head %}
        {% include 'Backend/Master/Components/Head/Main.twig' %}
    {% endblock %}
</head>
<body class="hold-transition skin-oforge sidebar-mini">
<div class="wrapper">

    {% set breadcrumbsmap = backend_breadcrumbs_map(meta.route.name) %}

    {% block pageheader %}
        {% include 'Backend/Master/Components/PageHeader/Index.twig' %}
    {% endblock %}

    {% block sidebar %}
        {% include 'Backend/Master/Components/Sidebar/SidebarMain.twig' %}
    {% endblock %}

    {% block content %}
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">

                {% block content_header %}
                    {% include 'Backend/Master/Components/Content/Header.twig' %}
                {% endblock %}

                <!-- Main content -->
                <section class="content container-fluid">
                    {% block pagecontent %}
                        <!--------------------------
                          | Your Page Content Here |
                          -------------------------->
                    {% endblock %}
                </section>
                <!-- /.content -->
            </div>
    {% endblock %}

    {% block footer %}
        {% include 'Backend/Master/Components/Footer/Index.twig' %}
    {% endblock %}

    {% block sidebarcontrol %}
        {% include 'Backend/Master/Components/Sidebar/SidebarControl.twig' %}
    {% endblock %}
</div>

{% block scripts %}
    {% include 'Backend/Master/Components/Footer/Scripts.twig' %}
{% endblock %}

</body>
</html>
