<!doctype html>
<html lang="en">
<head>
    {% block head %}
        {% include 'Backend/Master/Components/Head/Main.twig' %}
    {% endblock %}
</head>
<body class="hold-transition skin-oforge sidebar-mini">
<div class="wrapper">

    {% if debug.console %}
        {{ o_dump() }}
    {% endif %}

    {% set breadcrumbsmap = backend_breadcrumbs_map(meta.route.name) %}

    {% block pageheader %}
        {% include 'Backend/Master/Components/PageHeader/Index.twig' %}
    {% endblock %}

    {% block sidebar %}
        {% include 'Backend/Master/Components/Sidebar/SidebarMain.twig' %}
    {% endblock %}

    {% block content %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            {% block content_header %}
                {% include 'Backend/Master/Components/Content/Header.twig' %}
            {% endblock %}

            {% if (flashMessages) %}
                {% block content_flash_messages %}
                    {% include 'Backend/Master/Components/Content/FlashMessages.twig' %}
                {% endblock content_flash_messages %}
            {% endif %}

            <!-- Main content -->
            <section class="content container-fluid">
                {% block pagecontent %}
                    <!--------------------------
                      | Your Page Content Here |
                      -------------------------->
                {% endblock %}
            </section>
            <!-- /.content -->
        </div>
    {% endblock %}

    {% block footer %}
        {% include 'Backend/Master/Components/Footer/Index.twig' %}
    {% endblock %}

    {% block sidebarcontrol %}
        {% include 'Backend/Master/Components/Sidebar/SidebarControl.twig' %}
    {% endblock %}
</div>

{% block scripts %}
    {% include 'Backend/Master/Components/Footer/Scripts.twig' %}
{% endblock %}

{% block meta %}
    {% if debug.session %}
        <style>
            .meta {
                background: #d87a68;
                color: #fff;
                padding: 1rem;
                width: 100%;
                min-height: 300px;
                font-size: 1.2rem;
                line-height: 1.4;
                word-break: break-all;
            }
        </style>
        <div class="meta">
            {% for key, val in debug.session %}
                <p>{{ key }} : {{ val }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock meta %}


</body>
</html>
