<div class="form">
    <div class="form-group">
        <label>{{ i18n('type_videoYoutube', 'VideoYoutube') }}</label>
        <input class="form-control" name="videoID" value="{{ data.videoID }}"/>
    </div>

</div>
