@font-face {
    font-family: 'PT-Sans';
    src: url('../fonts/pt-sans/PT_Sans-Web-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT-Sans';
    src: url('../fonts/pt-sans/PT_Sans-Web-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'PT-Sans';
    src: url('../fonts/pt-sans/PT_Sans-Web-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'PT-Sans';
    src: url('../fonts/pt-sans/PT_Sans-Web-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
