/*
 * Colors
 */
$color-primary: rgba(60, 60, 59, 1) !default; // pGrau-1
$color-primary-light: rgba(112, 112, 112, 1) !default; // sGrau-1
$color-primary-lighter: #e8e8e8 !default;
$color-primary-transparent-1: transparentize($color-primary, .3) !default; // sGrau-2
$color-primary-transparent-2: rgba(0, 0, 0, 0.54) !default; // sGrau-3
$header-top: rgba(230,230,230,.8) !default;

$color-secondary: #708e2b !default; // pGrün-1
$color-secondary-light: #90a75c !default;
$color-secondary-lighter: #bac6a0 !default;

$color-secondary-transparent-1: transparentize($color-secondary, .25) !default; // sGrün-1
$color-secondary-transparent-2: rgba(169, 185, 134, .75) !default; // sGrün-2
$color-light: rgba(255, 255, 255, 1) !default;
$color-secondary-transparent-3: transparentize($color-light, .3) !default; //sWeiß-1
$text-light: $color-light !default;
$text-dark: $color-primary !default;

$success: #0d0 !default;
$info: #fc0 !default;
$warning: #d00 !default;

$success-font: $text-dark !default;
$info-font: $text-dark !default;
$warning-font: $text-light !default;


/*
 * Fonts
 * The default font size is 62.5% or 10px for easier calculating px to rem
 */
$font-family: sans-serif !default;
$font-size-1: 3rem !default;
$font-size-2: 2.4rem !default;
$font-size-3: 2rem !default;
$font-size-4: 1.8rem !default;

$font-biggest: $font-size-1 $font-family !default;
$font-bigger: $font-size-2 $font-family !default;
$font-big: $font-size-3 $font-family !default;
$font-normal: $font-size-4 $font-family !default;

/*
 * Media Query sizes
 */
$screen-medium: 640px !default;
$screen-large: 960px !default;
$screen-max: 1920px !default;
$content-max: 1280px !default;

/*
 * Other sizes and gaps
 */
$size-small: .4rem !default;
$size-medium: .6rem !default;
$size-large: 1.2rem !default;

$radius-small: $size-small !default;
$radius-medium: $size-medium !default;
$radius-large: $size-large !default;
