/*
 * Colors
 */
$color-primary: #3c3c3b;
$color-primary-light: #707070;
$color-secondary: #708e2b;
$color-secondary-light: #90a75c;
$color-secondary-lighter: #bac6a0;

/*
 * Fonts
 * The default font size is 62.5% or 10px for easier calculating px to rem
 */
$font-family: PT-Sans, sans-serif;
$font-size-1: 3rem;
$font-size-2: 2.4rem;
$font-size-3: 2rem;
$font-size-4: 1.8rem;

$font-biggest: $font-size-1 $font-family;
$font-bigger: $font-size-2 $font-family;
$font-big: $font-size-3 $font-family;
$font-normal: $font-size-4 $font-family;

/*
 * Media Query sizes
 */
$screen-medium: 64rem;
$screen-large: 96rem;
$screen-max: 192rem;
$content-max: 128rem;