{% block main_meta %}
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
{% endblock %}

<title>{% block title %}{{ config('system_project_name') }} | Backend{% endblock %}</title>

{% block css %}
    {% include 'Backend/Master/Components/Head/CSS.twig' %}
{% endblock %}
