{% extends '@parent/Frontend/Layout.twig' %}

    {% block content_before %}
        <div class="product-placement before">BEFORE</div>
    {% endblock content_before %}

    {% block content_after %}
        <div class="product-placement after">AFTER</div>
    {% endblock content_after %}
