{% extends '@parent/Frontend/Components/Header/TopNav.twig' %}
{% block top_nav_links %}
    <li class="top-nav-list__item item--login">
        <a href="{{ url( 'insertions_create') }}" class="button button--secondary button--shadow button--uppercase button--header">{{ i18n('insertion_create', 'Jetzt inserieren!') }}</a>
    </li>
    {{ parent() }}
{% endblock top_nav_links %}
