{# block login_registration__registration_benefits #}
{% block registration_benefits %}
    <div class="registration-benefits">
        <ul class="benefits">
            <li class="benefit flex flex--row flex--center">
                <span class="benefit__image icon"></span>
                <span class="benefit__description">Some very good benefit</span>
            </li>
            <li class="benefit flex flex--row flex--center">
                <span class="benefit__image icon"></span>
                <span class="benefit__description">This will make you register</span>
            </li>
            <li class="benefit flex flex--row flex--center">
                <span class="benefit__image icon"></span>
                <span class="benefit__description">You really want to register to this page</span>
            </li>
        </ul>
    </div>
{% endblock registration_benefits %}
