{% block account_content %}

    <div class="account__content mobile-padding flex flex--row flex--wrap">
        <h1 class="account__title">{{ i18n('my_login_data') }}</h1>
        <div class="user__mail">
            <h2 class="form__title">{{ i18n('your_login_mail') }}</h2>
            <h2 class="user-mail">{{ current_user.email }}</h2>
        </div>
        {% include 'Plugins/FrontendUserManagement/Frontend/Components/Forms/ChangePasswordForm.twig' %}
    </div>
{% endblock account_content %}
