{% block account_content %}

    <div class="account__content mobile-padding flex flex--row flex--wrap">
        <h3 class="account__title">{{ i18n('my_login_data') }}</h3>
        <div class="user__mail">
            <h3 class="form__title">{{ i18n('your_login_mail') }}</h3>
            <h3 class="form__title user-mail">{{ user.email }}</h3>
        </div>
        {% include 'Plugins/FrontendUserManagement/Frontend/Components/Forms/ChangePasswordForm.twig' %}
    </div>
{% endblock account_content %}
