{# block account__content #}
{% block account_content %}
    <div class="account__content flex flex--row flex--wrap">
        <h2 class="account__title">{{ i18n('contact_data') }}</h2>
        {% include 'Plugins/FrontendUserManagement/Frontend/Components/Forms/UserDetailsForm.twig' %}
        {% include 'Plugins/FrontendUserManagement/Frontend/Components/Forms/UserAddressForm.twig' %}
    </div>
{% endblock account_content %}
