{# block account__content #}
{% block account_content %}
    <div class="account__content flex flex--row flex--wrap">
        {% include 'Plugins/FrontendUserManagement/Frontend/Components/Forms/UserDetailsForm.twig' %}
        {% include 'Plugins/FrontendUserManagement/Frontend/Components/Forms/UserAddressForm.twig' %}
    </div>
{% endblock account_content %}
