<div>
    {% set disabled = property.crud[crud.context] != 'editable' %}
    {% if crud.context == 'index' %}
        {% set fieldName = 'data[' ~ item.id ~ '][' ~ property.name ~ ']' %}
    {% else %}
        {% set fieldName = 'data[' ~ property.name ~ ']' %}
    {% endif %}
    {% include 'Backend/Components/Form/Switch.twig' with {
        id: fieldID,
        name: fieldName,
        disabled: disabled,
        checked: item[property.name] is defined ? item[property.name] : property.editor.default,
    } only %}
</div>
