<div class="input-group my-colorpicker2 colorpicker-element">
    {% include 'Backend/CRUD/Components/Editor/Input.twig' with {
        editor: {
            type: 'text',
        }
    } %}
    <div class="input-group-addon">
        <i></i>
    </div>
</div>
