<div class="input-group oforge-color-picker colorpicker-element">
    {% include 'Backend/CRUD/Components/Editor/Input.twig' with {
        crudFieldEditor: {
            type: 'text',
        }
    } %}
    <div class="input-group-addon">
        <i></i>
    </div>
</div>
