<div class="btn-group pull-right">
    {% if not crudItem.installed %}
        {% include 'Backend/Plugin/Components/Index/Action/Install.twig' with {isButton: true} %}
    {% elseif not crudItem.active %}
        {% include 'Backend/Plugin/Components/Index/Action/Activate.twig' with {isButton: true} %}
    {% else %}
        {% include 'Backend/Plugin/Components/Index/Action/Deactivate.twig' with {isButton: true} %}
    {% endif %}
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        <i class="fa fa-caret-down"></i>
    </button>
    <ul class="dropdown-menu">
        {% if crudItem.installed %}
            {% if crudItem.active %}
                <li>{% include 'Backend/Plugin/Components/Index/Action/Rebuild.twig' %}</li>
                <li role="separator" class="divider"></li>
                <li>{% include 'Backend/Plugin/Components/Index/Action/Reactivate.twig' %}</li>
            {% endif %}
            <li>{% include 'Backend/Plugin/Components/Index/Action/Reinstall.twig' %}</li>
            <li>{% include 'Backend/Plugin/Components/Index/Action/ReinstallActivate.twig' %}</li>
            <li role="separator" class="divider"></li>
            <li>{% include 'Backend/Plugin/Components/Index/Action/Uninstall.twig' %}</li>
        {% else %}
            <li>{% include 'Backend/Plugin/Components/Index/Action/Delete.twig' %}</li>
        {% endif %}
    </ul>
</div>
