{% if crudItem.dependencies %}
    <span class="btn">
        <i class="fa fa-exclamation-circle fa--big text-primary" data-toggle="tooltip"
           title="{{ crudItem.dependencies|join('\n') }}"></i>
    </span>
{% else %}
    <span class="btn">
        <i class="fa fa-minus-circle fa--big text-gray"></i>
    </span>
{% endif %}
