{{ i18n('plugin_blog_delete_category_notice', {
    en: '<p>A category can only be deleted if it does not contain any posts.</p>
<p>To delete the category, you must delete the posts or change the category in the posts.</p>',
    de: '<p>Eine Kategorie kann nur gelöscht werden, wenn sie keine Beiträge enthält.</p>
<p>Um die Kategorie zu löschen, müssen Sie die Beiträge löschen oder die Kategorie in den Beiträgen ändern.</p>'
}) }}

