{{ i18n('plugin_blog_delete_category_notice', '<p>A category can only be deleted if it does not contain any posts.</p>
<p>To delete the category, you must delete the posts or change the category mapping in the posts.</p>') }}

