<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                {#<p>{{ i18n('backend_crud_entity_deleted') }}</p>#}
                <a href="{{ url(meta.route.name|split('_' ~ crud.context)|first) }}" class="btn btn-default">
                    {{ i18n('backend_crud_btn_index', 'back to overwiew') }}
                </a>
            </div>
            {# /.box-body #}
        </div>
        {# /.box #}
    </div>
</div>
