{% extends "@parent/Frontend/Layout.twig" %}
{% block content %}
    <div class="profile content">
        {% block profile %}
            <div class="panel panel--profile flex">
                {% block profile__sidebar %}
                    {% include 'Frontend/Components/Profile/Sidebar.twig' %}
                {% endblock profile__sidebar %}

                {% block profile__content %}
                    {% include 'Frontend/Components/Profile/Content.twig' %}
                {% endblock profile__content %}

            </div>
        {% endblock profile %}
    </div>
{% endblock content %}