{% extends "@parent/Frontend/Layout.twig" %}
{% block content %}
    {% block profile %}
    <h1>{{ msg }}</h1>
    <a class="button button--primary" href="{{ url('frontend_logout') }}">
        <span>
            Logout
        </span>
    </a>
    {% endblock profile %}
{% endblock content %}