{% extends 'Frontend/Master.twig' %}
{% block body %}
    <div class='wrap'>
        {% block layout__header %}
            {% include 'Frontend/Components/Header/Header.twig' %}
        {% endblock layout__header %}

        <div class='container content'>
            {% block content %}
            {% endblock content %}
        </div>

    {% block layout__footer %}
        {% include 'Frontend/Components/Footer/Footer.twig' %}
    {% endblock layout__footer %}
    </div>
{% endblock body %}