{% extends 'Frontend/Master.twig' %}
{% block body %}
    <div class='wrap'>
        {% block layout_header %}
            {% include 'Frontend/Components/Header/Header.twig' %}
        {% endblock layout_header %}

        <div class='container content'>
            {% block content %}
            {% endblock content %}
        </div>

    {% block layout_footer %}
        {% include 'Frontend/Components/Footer/Footer.twig' %}
    {% endblock layout_footer %}
    </div>
{% endblock body %}