{% extends 'Plugins/Blog/Frontend/Components/Base.twig' %}

{% block blog_content %}
    {% include 'Plugins/Blog/Frontend/Category/Header.twig' %}
    <div class="blog-content">
        <h2>{{ i18n('plugin_blog_posts', 'Posts') }}</h2>
        {% include 'Plugins/Blog/Frontend/Category/PostList.twig' %}
    </div>
{#        <div style="background-color: #ccc; font-size: smaller">{{ o_print(blog) }}</div>#}
{% endblock blog_content %}
