<div id="blog-posts-wrapper">
    {% if blog.posts %}
        <div id="blog-posts">
            {% for blogPost in blog.posts %}
                {% include blog.template.blockPostEntry|default('Plugins/Blog/Frontend/Category/BlockPostEntry.twig') %}
            {% endfor %}
        </div>
        {#        {% if blog.posts|length >= blog.postsPerPage %}#}{#        TODO uncomment later#}
        <div>
            <button id="blog-load-more" data-type="posts" data-container="blog-posts" class="button button--primary">
                {{ i18n('plugin_blog_btn_load_more_posts', 'Load more') }}
            </button>
        </div>
        {#        {% endif %}#}{#        TODO uncomment later#}
    {% else %}
        {{ i18n('plugin_blog_no_posts_yet', 'No posts yet.') }}
    {% endif %}
</div>
