<div>
    HEADER_IMAGE{#TODO blog category header image#}
    {#    {% if blog.category is defined and blog.category.headerImage %}#}
    {#        {{ blog.category.headerImage }}#}
    {#    {% else %}#}
    {#        BACKGROUND#}
    {#    {% endif %}#}
</div>

