<div class="blog-header-image">
    {#TODO ALEX blog category header image#}
    {% if blog.category is defined and blog.category.headerImage %}
        <img src="{{ media(blog.category.headerImage) }}" />
{#        <div style="background-image: url('{{ media(blog.category.headerImage) }}')"></div>#}
    {% else %}
        DEFAULT_IMAGE
    {% endif %}
</div>

