<div id="blog-posts">
    {% if blog.posts %}
        <div id="blog-posts-container">
            {% for blogPost in blog.posts %}
                {% include 'Plugins/Blog/Frontend/Category/PostEntry.twig' %}
            {% endfor %}
        </div>
        {#        {% if blog.posts|length >= blog.postsPerPage %}#}{#        TODO uncomment later#}
        <div>
            <button class="button button--primary" data-addmore="true" data-container="#blog-posts-container"
                    data-url="{{ url('frontend_blog_more_posts', {}, {categoryID: blog.category.id}) }}">
                {{ i18n('plugin_blog_btn_load_more_posts', 'Load more') }}
            </button>
        </div>
        {#        {% endif %}#}{#        TODO uncomment later#}
    {% else %}
        {{ i18n('plugin_blog_no_posts_yet', 'No posts yet.') }}
    {% endif %}
</div>
