{# block burger_menu #}
<input type="checkbox" id="burger">
<label for="burger" class="burger-menu">
    <span class="patty"></span>
    <span class="patty"></span>
    <span class="patty"></span>
</label>