{% block drag_n_drop_upload %}
    <div id="drop-area" data-url="">
        <form class="my-form">
            <p>{% block %}{% endblock %}</p>
            <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
            <label class="button" for="fileElem">{% block %}{% endblock %}</label>
        </form>
        <progress id="progress-bar" max=100 value=0></progress>
        <div id="gallery" />
    </div>
{% endblock drag_n_drop_upload %}
