{% block flash_message %}
    {% if (flashMessages) %}
        {# the homepage presents an edge case regarding the positioning of the flash message-box #}
        <div class="content {% if meta.template.path == '/Frontend/Page/Index.twig' %}content--flash{% endif %}">
            {% for flashMessage in flashMessages %}
                <div class="flash flash--{{ flashMessage.type }}">
                    <svg class="icon icon--{{ flashMessage.type }}">
                        <use xlink:href="#{{ flashMessage.type }}"></use>
                    </svg>
                    <p class="flash__message">
                        {{ flashMessage.message|raw }}
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock flash_message %}
