{% block flash_message %}
    {% if (flashMessage) %}
        <div class="content">
            <div class="flash flash--{{ flashMessage.type }}">
                <p class="flash__message">
                    {{ flashMessage.message }}
                </p>
            </div>
        </div>
    {% endif %}
{% endblock flash_message %}
