{% block flash_message %}
    {% if (flashMessages) %}
        <div class="content">
            {% for flashMessage in flashMessages %}
                <div class="flash flash--{{ flashMessage.type }}">
                    <p class="flash__message">
                        {{ flashMessage.message }}
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock flash_message %}
