{# block main_nav #}
<nav class="main-nav">
    <ul class="main-nav-list content">
        <li class="main-nav-list__item"><a href="#" class="main-nav-list__link">TODO Navigation</a></li>
        <li class="main-nav-list__item"><a href="#" class="main-nav-list__link">TODO Navigation</a></li>
        <li class="main-nav-list__item"><a href="#" class="main-nav-list__link">TODO Navigation</a></li>
        <li class="main-nav-list__item"><a href="#" class="main-nav-list__link">TODO Navigation</a></li>
        <li class="main-nav-list__item"><a href="#" class="main-nav-list__link">TODO Navigation</a></li>
        <li class="main-nav-list__item"><a href="#" class="main-nav-list__link">TODO Navigation</a></li>
    </ul>
</nav>