
<div class="svg-test panel content flex flex--row flex--center flex--justify">
    <svg class="icon icon--secondary icon--arrow">
        <use xlink:href="#arrow"></use>
    </svg>
    <svg class="icon icon--secondary icon--profil">
        <use xlink:href="#inserat_erstellen"></use>
    </svg>
    <svg class="icon icon--secondary icon--profil">
        <use xlink:href="#inserat_melden"></use>
    </svg>
    <svg class="icon icon--secondary icon--profil">
        <use xlink:href="#eigenschaften"></use>
    </svg>
    <svg class="icon icon--secondary icon--profil">
        <use xlink:href="#facebook"></use>
    </svg>
    <svg class="icon icon--secondary icon--profil">
        <use xlink:href="#kleinanzeigen"></use>
    </svg>
    <svg class="icon icon--secondary icon--profil">
        <use xlink:href="#kostenlos"></use>
    </svg>
    <svg class="icon icon--secondary icon--profil">
        <use xlink:href="#mehr_lesen"></use>
    </svg>
    <svg class="icon icon--secondary icon--profil">
        <use xlink:href="#merken"></use>
    </svg>
    <svg class="icon icon--secondary icon--profil">
        <use xlink:href="#merkliste"></use>
    </svg>
    <svg class="icon icon--secondary icon--profil">
        <use xlink:href="#neu"></use>
    </svg>
    <svg class="icon icon--secondary icon--profil">
        <use xlink:href="#pfeil"></use>
    </svg>
    <svg class="icon icon--secondary icon--profil">
        <use xlink:href="#postfach"></use>
    </svg>
    <svg class="icon icon--secondary icon--profil">
        <use xlink:href="#premium"></use>
    </svg>
    <svg class="icon icon--secondary icon--profil">
        <use xlink:href="#profil"></use>
    </svg>
    <svg class="icon icon--secondary icon--profil">
        <use xlink:href="#scroll_top"></use>
    </svg>
    <svg class="icon icon--secondary icon--profil">
        <use xlink:href="#teilen"></use>
    </svg>
    <svg class="icon icon--secondary icon--profil">
        <use xlink:href="#telefon"></use>
    </svg>
    <svg class="icon icon--secondary icon--profil">
        <use xlink:href="#top_inserat"></use>
    </svg>
    <svg class="icon icon--secondary icon--profil">
        <use xlink:href="#whatsapp"></use>
    </svg>
</div>