
<div class="svg-test panel content flex flex--row flex--center flex--justify" style="display: block;">
    <svg class="icon icon--secondary">
        <use xlink:href="#accentuate"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#advertisment"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#announce"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#buying_horses"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#camera"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#check"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#circuit"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#close"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#contact"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#create"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#deactivate"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#delete"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#edit"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#email"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#exit"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#facebook"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#instagram"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#fade_in"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#filly"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#heart"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#horse"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#horseman"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#horseman_end"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#horseshoe"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#insertion"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#key"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#language"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#magnifier"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#mail_open"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#new"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#newsletter"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#petition"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#present"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#preview"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#professional_abo"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#professional_plus_abo"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#profile"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#read_more"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#riding_participation"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#scroll_to_the_top"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#search"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#searching_horse"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#slider"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#speech_bubles"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#stallion"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#star"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#star_outline"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#support"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#telephone"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#thumbs_down"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#thumbs_up"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#timeline_1"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#video"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#whatsapp"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#blog"></use>
    </svg>
    <svg class="icon icon--secondary">
        <use xlink:href="#horseworld"></use>
    </svg>
</div>
