{# block top_nav #}
<nav class="top-nav">
    <ul class="top-nav-list flex flex--row">
        <li class="top-nav-list__item">
            <a href="#" class="icon icon--user" title="Login"></a>
        </li>
    </ul>
</nav>
