{% extends '@parent/Frontend/Layout.twig' %}

{% block title %}{% set title = (blog.post is defined ? (blog.post.headerTitle ~ i18n('title_separator') ~ blog.category.name) : (blog.category  is defined ? blog.category.name : i18n('plugin_blog_frontend_blog_home', 'Blog'))) %}{{ title|length > 35 ? title|slice(0, 35) : title }}{{ i18n('title_separator') }}{{ config('system_project_name') }}{% endblock title %}

{% block content %}
    <div class="content">
        {% block blog_content %}
        {% endblock blog_content %}
    </div>
{% endblock content %}
