<div class="blog__category-list">
    {% include 'Plugins/Blog/Frontend/Components/CategoryEntry.twig' %}
    {% for blogCategory in blog.categories %}
        {% include 'Plugins/Blog/Frontend/Components/CategoryEntry.twig' %}
    {% endfor %}
</div>
