<div>
    <span>
        {{ blogPost.ratings.up }}
        {% include 'Plugins/Blog/Frontend/Components/RatingUpIcon.twig' %}
    </span>
    <span>
        {% include 'Plugins/Blog/Frontend/Components/RatingDownIcon.twig' %}
        {{ blogPost.ratings.down }}
    </span>
</div>
