{% extends "Backend/Master/Index.twig" %}

{% block pagecontent %}

    {{ o_dump() }}

    <div class="row">
        {% for configKey in config %}
            <a href="/backend/settings/{{ configKey.group }}">{{ configKey.group }}</a>
            <br>
        {% endfor %}
    </div>

{% endblock %}

