.header {
    width: 100%;
    /*padding-bottom: 2rem;*/
    position: fixed;
    z-index: 9999;
}

.header-top {
    height: 10rem;
}

@import "logo";
@import "burger-menu";
@import "top-nav";
@import "main-nav";
