.main-nav {
    position: absolute;
    background: $color-light;
    top: 0;
    right: -100%;
    width: 0;
    height: 0;
    transition: transform .2s ease-in, width .2s ease-in, height .2s ease-in;
    overflow-x: hidden;
    z-index: 1337;

    .main-nav__header {
        height: 12rem;
        margin: 0 $size-medium;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $color-primary;
    }
}


.main-nav-list {
    background: $color-light;

    &__item:not(:first-child) {
        border-top: 1px solid $color-light;
    }

    &__link {
        padding: $size-large;
        display: block;
        color: $text-dark;
        text-decoration: none;
        text-align: left;

        &:hover,
        &:active {
            text-decoration: none;
            background: $color-secondary;
        }
    }
}

#burger:checked ~ .main-nav {
    transform: translate3d(-100%, 0, 0);
    width: 100%;
    height: 100vh;
}

@media screen and (min-width: $screen-medium) {
    .main-nav {
        .main-nav__header {
            height: 14rem;
        }
    }
}

@media screen and (min-width: $content-max) {
    #burger:checked ~ .main-nav {
        transform: none;
        height: auto;
    }
    .main-nav {
        background: $color-primary;
        position: static;
        left: auto;
        right: auto;
        top: auto;
        transform: none;
        transition: none;
        overflow-x: visible;
        width: 100%;
        height: auto;


        &__header {
            display: none;
        }
    }

    .main-nav-list {
        display: flex;
        flex-direction: row;

        &__item {
            width: calc(1 / 6 * 100%);
            text-align: center;

            &:not(:first-child) {
                border-top: none;
                border-left: 1px solid $color-secondary-transparent-3;
            }
        }

        &__link {
            display: block;
            color: $color-light;
            padding: $size-medium $size-large;
            text-align: center;
            position: relative;

            &:hover,
            &:active {
                text-align: center;
            }
        }

        &__item:not(:first-child):hover,
        &__item:not(:first-child):active {
            &:before,
            &:after {
                border-left: 1px solid $color-light;
            }
        }
    }
}
