.main-nav {
    position: fixed;
    background: $color-light;
    top: 0;
    right: 0;
    width: 0;
    min-height: 100vh;
    transition: width .2s ease-in;
    overflow: hidden;
    z-index: 1337;

    &.main-nav--hidden {
        display: none;
    }

    &__header-link {
        text-decoration: none;
    }

    .main-nav__header {
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid $color-primary;

        .logo__text {
            margin-right: 2rem;
        }
    }

    /* Top nav inside burger menu */
    .top-nav {
        margin: 2rem auto 0;
        padding: 0 0 2rem;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid $color-primary;
    }
}

#burger:checked ~ .main-nav {
    width: 100%;
}

@media screen and (min-width: $screen-medium) {

    .main-nav .top-nav {
        display: none;
    }

    #burger:checked ~ .main-nav {
        width: 32rem;
        box-shadow: -2px 0 6px $color-primary-transparent-1;
    }
}

@media screen and (min-width: $content-max) {
    #burger:checked ~ .main-nav {
        min-height: auto;
        height: auto;
        width: 100%;
    }
    .main-nav {
        background: $color-primary;
        position: static;
        left: auto;
        right: auto;
        top: auto;
        transform: none;
        transition: none;
        overflow: visible;
        width: 100%;
        min-height: auto;
        height: auto;

        .main-nav__header {
            display: none;
        }
    }

}
