{% extends 'Backend/CRUD/Index.twig' %}

{% block crud_actions_group %}
    <a class="btn btn-primary disabled" href="{{ url('backend_plugins_add') }}"
       title="{{ i18n('backend_crud_plugin_action_add', {en: 'add plugin', de: 'Plugin hinzufügen'}) }}">
        <i class="fa fa-plus"></i>
        &nbsp;
        {{ i18n('backend_crud_plugin_action_add', {en: 'add plugin', de: 'Plugin hinzufügen'}) }}
    </a>
{% endblock crud_actions_group %}
