{% block imagetilemedium %}
    <div class="{{ data.css }} image-tile--medium">
        {% include('ContentTypes/Components/ImageTileContent.twig')  with {'imagewidth': 800 }   %}
    </div>
{% endblock imagetilemedium %}