{% if crud.filter %}
    <div class="row">
        <div class="col-xs-12">
            <form id="oforge-crud-filters" method="GET" class="form-inline">
                {% for propertyName, filterConfig in crud.filter if filterConfig.type != 'hidden' %}
                    {% if filterConfig.label is defined %}
                        {% if filterConfig.label is array %}
                            {% set filterTitle = i18n(filterConfig.label) %}
                        {% else %}
                            {% set filterTitle = filterConfig.label %}
                        {% endif %}
                    {% else %}
                        {% set filterTitle = propertyName|ucfirst %}
                    {% endif %}
                    {% include 'Backend/CRUD/Components/Index/FilterType/' ~ filterConfig.type|ucfirst ~ '.twig' ignore missing %}
                {% endfor %}
                <button class="btn btn-default" type="submit">{{ i18n('backend_crud_btn_filter_submit', {en: 'Filter', de: 'Filtern'}) }}</button>
            </form>
        </div>
    </div>
{% endif %}
