<table id="crud_index_table" class="table table-bordered table-hover table-striped crud-table-{{ crud.model|lower|replace({'\\': '_'}) }}">
    <thead>
    {% include 'Backend/CRUD/Components/Index/TableHeader.twig' %}
    </thead>
    <tbody>
    {% for item in crud.items %}
        <tr>
            {% for crudProperty in crud.properties if crudProperty.crud[crud.context] and crudProperty.crud[crud.context]|default('off') != 'off' %}
                {% include 'Backend/CRUD/Components/Index/TableCell.twig' %}
            {% endfor %}
            {% if crud.hasRowActions %}
                {% include 'Backend/CRUD/Components/Index/TableRowActions.twig' %}
            {% endif %}
        </tr>
    {% else %}
        <tr>
            {% set crudColumnWidth = (crud.hasRowActions ? 1 : 0) + crud.properties|default({})|length %}
            <td colspan="{{ crudColumnWidth }}">{{ i18n('backend_crud_table_empty', {en: 'no entities', de: 'keine Elemente'}) }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    {% include 'Backend/CRUD/Components/Index/TableHeader.twig' %}
    </tfoot>
</table>
