<table id="crud_index_table" class="table table-bordered table-hover table-striped crud-table-{{ crud.model|lower|replace({'\\': '_'}) }}">
    <thead>
    {% include 'Backend/CRUD/Components/Index/TableHeader.twig' with {crud: crud} only %}
    </thead>
    <tbody>
    {% for item in crud.items %}
        <tr>
            {% for property in crud.properties if property.crud[crud.context] and property.crud[crud.context]|default('off') != 'off' %}
                {% include 'Backend/CRUD/Components/Index/TableCell.twig' %}
            {% endfor %}
            {% if crud.hasRowActions %}
                {% include 'Backend/CRUD/Components/Index/TableRowActions.twig' %}
            {% endif %}
        </tr>
    {% else %}
        <tr>
            {% set width = crud.hasRowActions + crud.properties|default([])|length %}
            <td colspan="{{ width }}">{{ i18n('backend_crud_table_empty', {en: 'no entities', de: 'keine Elemente'}) }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    {% include 'Backend/CRUD/Components/Index/TableHeader.twig' with {crud: crud} only %}
    </tfoot>
</table>
