<td class="table_row_actions text-center">
    <div class="btn-group pull-right">
        {% for crudTableRowActionTemplate in crud.rowActionTemplates|default([
            'Backend/CRUD/Components/Index/RowAction/View.twig',
            'Backend/CRUD/Components/Index/RowAction/Update.twig',
            'Backend/CRUD/Components/Index/RowAction/Delete.twig',
        ]) %}
            {% include crudTableRowActionTemplate %}
        {% endfor %}
    </div>
</td>
