{% set crudTableRowActionTemplates = crudTableRowActionTemplates|default([
    [crud.templatePath ~ '/Components/Index/RowAction/View.twig', 'Backend/CRUD/Components/Index/RowAction/View.twig'],
    [crud.templatePath ~ '/Components/Index/RowAction/Update.twig', 'Backend/CRUD/Components/Index/RowAction/Update.twig'],
    [crud.templatePath ~ '/Components/Index/RowAction/Delete.twig', 'Backend/CRUD/Components/Index/RowAction/Delete.twig'],
]) %}
<td class="table_row_actions text-center">
    <div class="btn-group pull-right">
        {% for crudTableRowActionTemplate in crudTableRowActionTemplates %}
            {% include crudTableRowActionTemplate %}
        {% endfor %}
    </div>
</td>
