{% set crudTableRowActionTemplates = crudTableRowActionTemplates|default([
    CRUD_path('Components/Index/RowAction/View.twig'),
    CRUD_path('Components/Index/RowAction/Update.twig'),
    CRUD_path('Components/Index/RowAction/Delete.twig')
]) %}
{% block root %}
    <td class="table_row_actions text-center">
        <div class="btn-group pull-right">
            {% block loop %}
                {% for crudTableRowActionTemplate in crudTableRowActionTemplates %}
                    {% include crudTableRowActionTemplate %}
                {% endfor %}
            {% endblock loop %}
        </div>
    </td>
{% endblock root %}

