<a class="{% if isButton %}btn btn-primary{% endif %}"
   href="{{ url('backend_plugins_deactivate', {name: item.name|url_encode}, meta.route.query|default({})) }}"
   title="{{ i18n('backend_crud_plugin_action_deactivate', 'deactivate') }}">
    {{ i18n('backend_crud_plugin_action_deactivate', 'deactivate') }}
</a>
