<a href="{{ url('backend_plugins_delete', {name: crudItem.name|url_encode}, meta.route.query|default({})) }}"
   title="{{ i18n('backend_crud_plugin_action_delete', {en: 'delete', de: 'löschen'}) }}">
    {{ i18n('backend_crud_plugin_action_delete', {en: 'delete', de: 'löschen'}) }}
</a>
