<a class="{% if isButton %}btn btn-primary{% endif %}"
   href="{{ url('backend_plugins_install', {name: item.name|url_encode}, meta.route.query|default({})) }}"
   title="{{ i18n('backend_crud_plugin_action_install', {en: 'install', de: 'installieren'}) }}">
    {{ i18n('backend_crud_plugin_action_install', {en: 'install', de: 'installieren'}) }}
</a>
