<a class="{% if isButton %}btn btn-primary{% endif %}"
   href="{{ url('backend_plugins_install_activate', {name: item.name|url_encode}, meta.route.query|default({})) }}"
   title="{{ i18n('backend_crud_plugin_action_install_activate', {en: 'install & activate', de: 'installieren & aktivieren'}) }}">
    {{ i18n('backend_crud_plugin_action_install_activate') }}
</a>
