<a href="{{ url('backend_plugins_reactivate', {name: crudItem.name|url_encode}, meta.route.query|default({})) }}"
   title="{{ i18n('backend_crud_plugin_action_reactivate', {en: 'reactivate', de: 'reaktivieren'}) }}">
    {{ i18n('backend_crud_plugin_action_reactivate', {en: 'reactivate', de: 'reaktivieren'}) }}
</a>
