<a href="{{ url('backend_plugins_reinstallActivate', {name: item.name|url_encode}, meta.route.query|default({})) }}"
   title="{{ i18n('backend_crud_plugin_action_reinstall_activate', {en: 'reinstall & activate', de: 'reinstallieren & aktivieren'}) }}">
    {{ i18n('backend_crud_plugin_action_reinstall_activate', {en: 'reinstall & activate', de: 'reinstallieren & aktivieren'}) }}
</a>
