<a href="{{ url('backend_plugins_reinstall', {name: crudItem.name|url_encode}, meta.route.query|default({})) }}"
   title="{{ i18n('backend_crud_plugin_action_reinstall', {en: 'reinstall', de: 'reinstallieren'}) }}">
    {{ i18n('backend_crud_plugin_action_reinstall', {en: 'reinstall', de: 'reinstallieren'}) }}
</a>
