<a class="{% if isButton %}btn btn-primary{% endif %}"
   href="{{ url('backend_plugins_uninstall', {name: item.name|url_encode}, meta.route.query|default({})) }}"
   title="{{ i18n('backend_crud_plugin_action_uninstall', {en: 'uninstall', de: 'deinstallieren'}) }}">
    {{ i18n('backend_crud_plugin_action_uninstall', {en: 'uninstall', de: 'deinstallieren'}) }}
</a>
