{% extends 'Backend/CRUD/Update.twig' %}

{% do dotSet({
    'crud.context': 'update',
}) %}

{% block pagecontent %}
    <section class="content">
        {% include 'Plugins/Insertion/Backend/BackendInsertion/CRUD/Form.twig' with { item: crud.item } %}
    </section>
{% endblock %}
