<div class="content-type-preview-row cms-content-sortable">
    {% for child in data.childs %}
        {% if data.id == data.se %}
            {% set order = child.order %}
            {% include 'ContentTypes/PageBuilderPlaceholder.twig' %}
        {% endif %}
        <div class="content-type-edit-selector" data-pb-id="{{ child.id }}"
             data-pb-se="{{ child.se }}" data-pb-order="{{ child.order }}">
            <div class="sort-handle"></div>
            <div class="content-type-preview">
                {% include child.type with {'data': child, 'order': child.order} only %}
            </div>
        </div>
    {% endfor %}
    {% if data.id == data.se %}
        {% set order = 999999999 %}
        {% include 'ContentTypes/PageBuilderPlaceholder.twig' %}
    {% endif %}
</div>
