{# block layout__top_slider #}
{% extends '@parent/Frontend/Components/Main/TopSlider.twig' %}
{% block top_slider %}
    {% set slider = getInsertionSliderContent() %}
    {% if slider['insertions']|length > 0 %}
        <div class="slider slider--top">
            {% for insertion in slider.insertions %}
                <a href="{{ url('insertions_detail', {id: insertion.id}) }}" class="slider__link">
                    <div class="slide {% if insertion.media is not defined or insertion.media|length < 1 or insertion.media[0].content is not defined %}has-placeholder-image{% endif %}">
                        {#
                        <div class="badge is--new">
                            <svg class='icon icon--new'>
                                <use xlink:href='#new'></use>
                            </svg>
                        </div>
                        #}
                        {% if insertion.media is defined and insertion.media|length > 0 and insertion.media[0].content is defined %}
                            <img src="{{ media(insertion.media[0].content.id, 300) }}"
                                 alt="{{ insertion.content[0].name }}"
                                 class="image">
                        {% else %}
                            <svg class="icon icon--placeholder">
                                <use xlink:href="#placeholder-insertion"></use>
                            </svg>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock top_slider %}
