{% block customers %}
    <div class="cms-customer">
        <div class="cms-customer__image" style="background-image: url({{ media( data.image, 200 ) }})"></div>
        <div class="cms-customer__details">
            <span class="cms-customer__name">{{ data.customer_name }}</span>
            <span class="cms-customer__comment">{{ data.text }}</span>
        </div>
    </div>
{% endblock customers %}
