{% block icon_tile_text_form %}
    <div class="form">

        {% include 'Backend/Components/Image.twig' with {
            name: 'image',
            data: data.image
        } only %}

        {% block icon_tile_text_text %}
            <div class="form-group">
                <label>{{ i18n('icon_tile_text', 'Text') }}</label>
                <input type="text" name="text" class="form-control" value="{{ data.text }}">
            </div>
        {% endblock icon_tile_text_text %}

        {% block icon_tile_text_link %}
            <div class="form-group">
                <label>{{ i18n('icon_tile_name', 'Name') }}</label>
                <input type="text" name="customer_name" class="form-control" value="{{ data.customer_name }}">
            </div>
        {% endblock icon_tile_text_link %}
    </div>
{% endblock icon_tile_text_form %}