{% block pageheader_logo_part %}
    <a href="{{ url("backend_dashboard") }}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"> {{ config('system_project_short') }}</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">{{ config('system_project_name') }}</span>
    </a>
{% endblock %}
