{% block header_image %}
    {% if headerimage %}
    <div class="header__image"
         {% if headerimage > 0 and headerimage is not empty %}style="background-image: url('{{ media(headerimage, 1680) }}')"{% endif %}>
    </div>
    {% endif %}
{% endblock header_image %}
