{% block header_image %}
    {% if headerimage %}
        <div class="header__image" style="background-image: url('{{ media(headerimage, 1280) }}')"></div>
    {% elseif cms.page.name is defined and cms.page.name == "home" %}
        <div class="header__image"></div>
    {% else %}
    {% endif %}
{% endblock header_image %}
