{% block logo %}
    <div class="logo">
        <a href="{{ url('/') }}" class="logo__link">
            {% block logo_content %}
                {% include 'Frontend/Components/Header/LogoClaim.twig' with {link: false} %}
            {% endblock logo_content %}
        </a>
    </div>
{% endblock logo %}
