{# block header__logo #}
{% block logo %}
    <div class="logo">
{#        TODO replace href="/" with url('...'), frontend_home|frontend? #}
        <a href="/" class="logo__link">
            {% set logo = content('logo') %}
            {% if logo.url is defined %}
                <img class="logo__img" src="{{ media( logo.url, 300) }}" alt="{{ i18n('logo') }}" />
            {% else %}
                <span class="logo__text">Your Logo <strong class="logo__text2">Here</strong></span>
            {% endif %}
        </a>
    </div>
{% endblock logo %}
