{# block header__main_nav #}
{% block main_nav %}
    <nav class="main-nav {% block main_nav_css_class 'main-nav--no-border' %}" data-main-nav="true">
        {% block main_nav_title %}
            {% include 'Frontend/Components/Header/LogoClaim.twig' with {link: true} %}
        {% endblock main_nav_title %}

        {% block mobile__top_nav %}
            {% include 'Frontend/Components/Header/TopNav.twig' %}
        {% endblock mobile__top_nav %}

        {% block main_nav_list %}
        {% endblock main_nav_list %}
    </nav>
{% endblock main_nav %}
