{# block header__top_nav #}
{% block top_nav %}
<nav class="top-nav">
    <ul class="top-nav-list flex flex--row">
        {% block top_nav_links %}
            <!-- additional nav links -->
        {% endblock top_nav_links %}
    </ul>
</nav>
{% endblock top_nav %}
