{% extends '@parent/Frontend/Components/Header/TopNav.twig' %}
{% block top_nav_login %}
    <li class="top-nav-list__item item--login">
        <a href="{{ url('frontend_login') }}" class="icon icon--user" title="Login"></a>
    </li>
{% endblock top_nav_login %}
