{% block footer_content %}
<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        {{ config("backend_project_footer_text") }}
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2019 {{ config("backend_project_copyright") }}.</strong> All rights reserved.
</footer>
{% endblock footer_content %}