<div class="content-type-edit-gallery-wrapper">
    <div class="gallery {{ data.css }}">
        {% for dataImage in data.images %}
            <img class="gallery__item" src="{{ media(dataImage, 200) }}" alt="{{ dataImage }}" width="200"/>
        {% endfor %}
    </div>
</div>

