{% block page_content %}
    {# summary #}

    {% block summary %}
        <div class="summary">
            <div class="preview"></div>
            <div class="price-summary">
                <h3 class="title title--price-summary">{{ i18n('summary') }}</h3>
                <ul class="summary__list">
                    <li class="summary__item">
                        <span class="summary__key"><svg class="icon icon--small icon--secondary"><use xlink:href="#check"></use></svg>Key</span><span class="summary__value">Value</span>
                    </li>
                    <li class="summary__item">
                        <span class="summary__key"><svg class="icon icon--small icon--secondary"><use xlink:href="#check"></use></svg>Key</span><span class="summary__value">Value</span>
                    </li>
                    <li class="summary__item">
                        <span class="summary__key"><svg class="icon icon--small icon--secondary"><use xlink:href="#check"></use></svg>Key</span><span class="summary__value">Value</span>
                    </li>
                    <li class="summary__item">
                        <span class="summary__key"><svg class="icon icon--small icon--secondary"><use xlink:href="#check"></use></svg>Key</span><span class="summary__value">Value</span>
                    </li>
                    <li class="summary__item">
                        <span class="summary__key"><svg class="icon icon--small icon--secondary"><use xlink:href="#check"></use></svg>Key</span><span class="summary__value">Value</span>
                    </li>
                </ul>
                <div class="sum">
                    <span class="sum__title">{{ i18n('sum_total') }}</span>
                    <span class="sum__prefix">{{ i18n('once') }}</span>
                    <span class="sum_price">27,96 €</span>
                </div>
            </div>
        </div>
    {% endblock summary %}

    {% if not user_logged_in %}
        {% block registration %}
            <h2>{{ i18n('registration_login') }}</h2>
            {% set meta = mergeRecursive(meta|default({}), dotToNested({
                'route.referrer': url('insertions_createSteps', {type:  type.id, page: page}),
            })) %}

            {% embed 'Plugins/FrontendUserManagement/Frontend/Components/Content/LoginRegistration.twig' %}
                {% block login_registration_subtitle %}{% endblock login_registration_subtitle %}
                {% block login_registration__registration_benefits %}{% endblock login_registration__registration_benefits %}
            {% endembed %}

        {% endblock registration %}
    {% endif %}
{% endblock page_content %}
