{% extends "Master.twig" %}
    {% block headline %}
        <p>{{ i18n('mailer_templates_register_confirmation_title') }}</p>
        <p>{{ i18n('mailer_templates_register_confirmation_body') }}</p>
    {% endblock headline %}