{% extends "@parent/Frontend/Layout.twig" %}
{% block content %}
    {% include 'Plugins/FrontendUserManagement/Frontend/Components/AccountNavBar.twig' with { content_title: i18n('overview', 'Overview') } %}

    {# The data for the following block is generated in the Insertion Plugin (Middleware) #}
    {% block insertion__progress %}
        {% if insertionProfileProgress is not empty %}
            <div class="content">
                <div class="flash flash--info">
                    <svg class="icon icon--info">
                        <use xlink:href="#info"></use>
                    </svg>
                    <p class="flash__message">
                        Du hast dein Inseratsprofil zu {{ insertionProfileProgress }}% vervollständigt.
                        <a href="{{ url('frontend_account_insertions_profile') }}">
                            HIER
                        </a> kannst du dein Profil anpassen.
                    </p>
                </div>
            </div>
        {% endif %}
    {% endblock insertion__progress %}

    <div class="account content">
        {% block account %}
            <div class="panel panel--account flex">

                {% block account__sidebar %}
                    {% include 'Plugins/FrontendUserManagement/Frontend/Components/Sidebar.twig' %}
                {% endblock account__sidebar %}

                {% block account__content %}
                    {% include 'Plugins/FrontendUserManagement/Frontend/Components/Content/Dashboard.twig' %}
                {% endblock account__content %}
            </div>
        {% endblock account %}
    </div>
{% endblock content %}
