{% extends '@parent/Frontend/Components/Header/TopNav.twig' %}
{% block top_nav_links %}
    {{ parent() }}

    {% if user_logged_in and current_user is not null %}
        <li class="top-nav-list__item item--login">
            <a class="flex flex--row"href="{{ url('frontend_account_messages') }}"
               title="{{ i18n('frontend_account_messages_title', 'Meine Nachrichten') }}">
                <svg class="icon icon--secondary icon--postfach">
                    <use xlink:href="#email"></use>
                </svg>
                {% if has_messages(current_user.id)  %}
                    <i class="unread__messages__flag"></i>
                {% endif %}
            </a>
        </li>
    {% endif %}
{% endblock top_nav_links %}
