{% set queryParams = {} %}
{% for property in crud.properties %}
    {{ o_dump([property.name, property.editor.queryAutoFill|default(true), meta.route.query[property.name] is defined]) }}
    {% if property.editor.queryAutoFill|default(true) and meta.route.query[property.name] is defined %}
        {% set queryParams = queryParams|dotSet(property.name, meta.route.query[property.name]) %}
    {% endif %}
{% endfor %}
<a href="{{ url(meta.route.name  ~ '_create', {}, queryParams) }}"
   title="{{ i18n('backend_crud_btn_create', {en: 'create', de: 'erstellen'}) }}"
   class="btn btn-primary {% if not crud.actions.create %}disabled{% endif %}">
    <i class="fa fa-plus"></i>
</a>
