<div class="box {{ widget.cssClass }}" data-id="{{ widget.id }}">
    <div class="box-header with-border ui-sortable-handle">
        <h3 class="box-title">{{ i18n(widget.label, widget.label) }}</h3>
    </div>
    <div class="box-body">
        {% include 'Backend/Widgets/' ~ widget.template ~ '.twig' with {data: widget.data, widget: widget} %}
    </div>
</div>
