<div class="{{ item.cssClass }}" >
    {%  set content = backend_widget_data(item.name) %}
    {% include 'Backend/Widgets/' ~ item.templateName ~ '.twig' with {'data': item, 'content': content} %}
</div>
