{% if crudProperty.type == 'custom' or crudProperty.editor.custom %}
    {% set crudEditorTemplate = [
        crudProperty.editor.custom,
        'Backend/CRUD/Components/Editor/FallbackCustom.twig',
    ] %}
{% else %}
    {% set crudEditorTemplate = CRUD_path('Components/Editor/' ~ crudProperty.type|ucfirst ~ '.twig')|
        merge(['Backend/CRUD/Components/Editor/String.twig']) %}
{% endif %}
<div>
    {% include crudEditorTemplate %}
</div>
{% if crudProperty.editor.hint and crud.context != 'index' %}
    <div class="small">
        {{ crudProperty.editor.hint is array ? i18n(crudProperty.editor.hint) : crudProperty.editor.hint }}
    </div>
{% endif %}
