{% if crudProperty.type == 'custom' or crudProperty.renderer.custom %}
    {% set crudRendererTemplate = [
        crudProperty.renderer.custom,
        'Backend/CRUD/Components/Renderer/FallbackCustom.twig',
    ] %}
{% else %}
    {% set crudRendererTemplate = [
        'Backend/CRUD/Components/Renderer/' ~ crudProperty.type|ucfirst ~'.twig',
        'Backend/CRUD/Components/Renderer/FallbackRaw.twig',
    ] %}
{% endif %}
<div>
    {% include crudRendererTemplate %}
</div>
