{% extends 'Backend/Master/Index.twig' %}
{% set meta = meta|merge({
    page: meta.page|default({})|merge({
        favoriteButton: false,
    })
}) %}
{% set crud = crud|merge({
    baseRouteName: meta.route.name|split('_')|slice(0, -1)|join('_')
}) %}
{% set breadcrumbs = backend_breadcrumbs(crud.baseRouteName) %}
{% set breadcrumbs = breadcrumbs|merge([{
    path: meta.route.name,
    visible: true,
    name: i18n('backend_crud_btn_' ~ crud.context, crud.context),
}]) %}
{% set page_header = i18n(crud.baseRouteName) %}
{% set page_header_description = i18n('backend_crud_btn_' ~ crud.context, crud.context) %}

{% block pagecontent %}
    <section class="content">
        {% include 'Backend/CRUD/Components/Form.twig' with { item: crud.item } %}
    </section>
{% endblock %}
