<div class="form__control">
    <label for="insertion[{{ attribute.id }}]"  class="form__label form__label--checkbox"> {{  i18n(attribute.name) }}</label>
    <input type="checkbox"
           class="form__input form__input--checkbox"
           name="insertion[{{ attribute.id }}]"
           {% if data['insertion'][attribute.id] == 'on' %}
                checked="checked"
           {% endif %}
           {% if required %}required{% endif %}>
</div>
