{% block edit__container %}
    <div class="form__control">

        <div class="form__control">
{#            <label class="form__label {{ label_class }}">{{ i18n(attribute.name) }}</label>#}
            {% set values = getInsertionValues(attribute.id) %}

            {% block container_attributes %}
                <div>
                    {% for value in values.values %}
                        {% include 'Plugins/Insertion/Frontend/FrontendInsertion/Attributes/' ~ value.subAttributeKey.type|capitalize  ~ '.twig'  with {'attribute': all_attributes[value.subAttributeKey.id], hidden: true, required: false, isSubAttribute: true} %}
                    {% endfor %}
                </div>
            {% endblock container_attributes %}
        </div>
    </div>
{% endblock edit__container %}
