<div class="form__control form-group">

    <label class="form__label {{ label_class }}">{{ i18n(attribute.name) }}</label>
    {% set values = getInsertionValues(attribute.id) %}

    <div>
        {% for value in values.values %}
            {% include 'Plugins/Insertion/Frontend/FrontendInsertion/Attributes/' ~ value.subAttributeKey.type|capitalize  ~ '.twig'  with {'attribute': value.subAttributeKey }  %}
        {% endfor %}
    </div>
</div>
