<div class="form__control form-group">

    <label for="insertion[{{ attribute.id }}]"
           class="form__label">{{ i18n(attribute.name) }}</label>

    <input type="number"
           name="insertion[{{ attribute.id }}]"
           value="{{ data['insertion'][attribute.id] }}"
           class="form__input form-control" />
</div>
