<a class="btn btn-primary {% if not crud.actions.update %}disabled{% endif %}"
   href="{{ url(meta.route.name  ~ '_update', {id: item.id}) }}"
   title="{{ i18n('backend_crud_btn_update', 'update') }}">
    <i class="fa fa-pencil"></i>
</a>
