{% if not crud.actions.update %}
    <a class="btn btn-info {% if not crud.actions.view %}disabled{% endif %}"
       href="{{ url(meta.route.name  ~ '_view', {id: crudItem.id}) }}"
       title="{{ i18n('backend_crud_btn_view', {en: 'view', de: 'anzeigen'}) }}">
        <i class="fa fa-chevron-right"></i>
    </a>
{% endif %}
