{% extends 'Frontend/Layout.twig' %}
{% block content %}
    <div class="404 content">
        <div class="panel">
            <h1>{{ i18n('Oopsie!') }}</h1>
            <p>{{ i18n('The page you requested could not be found. Maybe some cowboy bandits stole it... The sheriff is on it!') }}</p>
        </div>
    </div>
{% endblock content %}