{# block layout__footer #}
{% block footer %}
    <footer class="footer content">
        <div class="footer__legal">
            <h3 class="legal__title">
                {{ i18n('site_name') }}
            </h3>
            <p class="legal__rights">
                {{ i18n('legal_rights') }}
            </p>
        </div>
    </footer>
{% endblock footer %}