{% with {text: text, background: background, foreground: foreground } only %}
    <div class="oforge-color-preview" {% if text %}data-text="{{ text }}"{% endif %}
        {% if background %}data-bg="{{ background }}"{% endif %} {% if foreground %}data-fg="{{ foreground }}"{% endif %}>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
        sadipscing
        elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
        vero
        eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
        ipsum
        dolor sit amet.
    </div>
{% endwith %}
