<div class="attribute">
    {% if values[attribute.attributeKey.id].value == "on" %}
        <span class="attribute-label">{{ i18n(attribute.attributeKey.name) }}</span>
        <span class="attribute-value">
            <svg class="icon icon--secondary">
            <use xlink:href="#check"></use>
            </svg>
        </span>
    {% endif %}
</div>