{% if values[attribute.id] is not empty %}
    <div class="product__attribute product__boolean">
        <span class="product__label">{{ i18n(attribute.name) }}</span>
        <span class="product__value">
        <svg class="icon icon--secondary">
            <use xlink:href="#check"></use>
        </svg>
    </span>
    </div>

    {% set attributeValues = getInsertionValues(attribute.id) %}
    {% block container_attributes %}
            {% for attributeValue in attributeValues.values %}
                {% include 'Plugins/Insertion/Frontend/FrontendInsertion/DetailAttributes/' ~ attributeValue.subAttributeKey.type|capitalize  ~ '.twig'  with {'attribute': all_attributes[attributeValue.subAttributeKey.id], value: insertion_values[attributeValue.subAttributeKey.id], hidden: true, required: false, isSubAttribute: true} %}
            {% endfor %}
    {% endblock container_attributes %}
{% endif %}
