{% if value is not empty %}
    <div class="product__attribute">
        <span class="product__label">{{ i18n(attribute.name) }}</span>
        <span class="product__value">{{ value|age(attribute.filterType, true) }}</span>
    </div>
{% endif %}
