<div class="attribute-label">
    {{ dump(attribute) }}
    <span class="attribute-label" style="font-weight:700;">{{ value.attributeKey.name }}</span>
    <span class="attribute-value">{{ value.value }}</span>
</div>