{% if values[attribute.attributeKey.id].value %}
<div class="attribute">
    <span class="attribute-label" style="font-weight: 700;">{{ attribute.attributeKey.name }}</span>
    <span class="attribute-value">{{ values[attribute.attributeKey.id].value }}</span>
</div>
{% endif %}