{% extends 'Frontend/Layout.twig' %}

{% block content %}
    <div class="content content--500">
        <div class="panel">
            {% block content_body %}
                {% block content_body_default_message %}
                    {#            TODO default 500 message #}
                {% endblock content_body_default_message %}
            {% endblock content_body %}
        </div>
    </div>
{% endblock content %}
