{{ i18n('plugin_blog_delete_post_notice', {
    en: '<p>Deleting a post can not be undone.</p>
<p>All reviews and comments of this post will also be deleted.</p>'
    de: '<p>Das Löschen eines Beitrags kann nicht rückgängig gemacht werden.</p>
<p>Alle Bewertungen und Kommentare dieses Beitrags werden ebenfalls gelöscht.</p>'
}) }}

