<div class="btn-group">
    <span class="btn btn-default">
        {{ item.ratings.up }}
        &nbsp;
        <i class="fa fa-thumbs-up"></i>
    </span>
    <span class="btn btn-default">
        <i class="fa fa-thumbs-down"></i>
        &nbsp;
        {{ item.ratings.down }}
    </span>
</div>
