<div class="btn-group pull-right">
    <span class="btn btn-default">
        {{ crudItem.ratings.up }}
        &nbsp;
        <i class="fa fa-thumbs-up"></i>
    </span>
    <span class="btn btn-default">
        <i class="fa fa-thumbs-down"></i>
        &nbsp;
        {{ crudItem.ratings.down }}
    </span>
</div>
