{% extends "@parent/Frontend/Layout.twig" %}

{% block content %}
    <div class="content content--insertion flex">
        <div class="main">
            {% include 'Plugins/Insertion/Frontend/Components/Content/ProductPanel.twig' with {item: insertion } %}
            <div>
                <form method="POST">
                    <label for="message"></label>
                    <input type="text" name="message" id="message">
                    <button type="submit">send message</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}