{% extends "@parent/Frontend/Layout.twig" %}
{% block content %}
    {% include 'Plugins/FrontendUserManagement/Frontend/Components/AccountNavBar.twig' with { back_link : true, content_title: i18n('insertions_create', 'Create Insertion')} %}

    <div class="content content--insertion">
        {% block insertions %}
            {% include 'Plugins/Insertion/Frontend/FrontendInsertion/Pages/' ~ page ~ '.twig'  %}
        {% endblock insertions %}
    </div>
{% endblock content %}
