{% block detail_attributes %}
    <div class="panel panel--product-attributes">
        {% for attributeGroup in attributes %}
            {% if attributeGroup.items|length > 0 %}
                <div class="product-attributes">
                    {% for attribute in attributeGroup.items %}
                        {% include 'Plugins/Insertion/Frontend/FrontendInsertion/DetailAttributes/' ~ attribute.attributeKey.type|capitalize  ~ '.twig'  with {'attribute': attribute.attributeKey, 'value' : insertion_values[attribute.attributeKey.id]} %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock detail_attributes %}