{% extends "@parent/Frontend/Layout.twig" %}

{% block title %}{% set title = search.query.count ~ ' ' ~ i18n('insertion_' ~ type.name ~ '_count') %}{{ title|length > 35 ? title|slice(0, 35) : title }}{{ i18n('title_separator', {en: ' | ', de: ' | '}) }}{{ config('system_project_name') }}{% endblock title %}

{% block content %}
    {% include '@parent/Frontend/Components/MobileNavBar.twig' with { back_link : true, nav_title: i18n('insertion', 'FrontendInsertion')} %}
    <div class="content content--insertion">
        {% block insertions %}

            <div class="flex insertions">
                {% block insertion__search %}
                    {% include 'Plugins/Insertion/Frontend/Components/Content/Search.twig' %}
                {% endblock insertion__search %}

                {% block insertion__content %}
                    {% include 'Plugins/Insertion/Frontend/Components/Content/ProductList.twig' %}
                {% endblock insertion__content %}
            </div>
        {% endblock insertions %}
    </div>
{% endblock content %}
