{% extends "@parent/Frontend/Layout.twig" %}
{% block content %}
    {% include '@parent/Frontend/Components/MobileNavBar.twig' with { back_link : true, nav_title: i18n('insertion', 'FrontendInsertion')} %}
    <div class="content content--insertion">
        {% block insertions %}
            <div class="flex insertions">
                {% block insertion__search %}
                    {% include 'Plugins/Insertion/Frontend/Components/Content/Search.twig' %}
                {% endblock insertion__search %}

                {% block insertion__content %}
                    {% include 'Plugins/Insertion/Frontend/Components/Content/ProductList.twig' %}
                {% endblock insertion__content %}
            </div>
        {% endblock insertions %}
    </div>
{% endblock content %}
