{% extends "@parent/Frontend/Layout.twig" %}

{% block content %}
    <div class="content content--insertion flex">
        <div class="panel">

            <div class="main">
                {% include 'Plugins/Insertion/Frontend/Components/Content/ProductPanel.twig' with {item: insertion } %}
                <form method="POST">
                    <label for="issueType">{{ i18n('report_reason', 'Report reason:') }}</label>
                    <select name="issueType" id="issueType">
                        {% for reportType in reportTypes.issueTypes %}
                            <option value="{{ reportType.id }}">{{ reportType.issueTypeName }}</option>
                        {% endfor %}
                    </select>
                    <label for="message"></label>
                    <input type="text" name="message" id="message">
                    <button type="submit">send message</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}